<div class="accordion" id="accordionPanelsStayOpenExample">

    <!-- Pesquisa por municipio -->
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingSearch">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseSearch" aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseSearch">
                <i class="fa-solid fa-magnifying-glass"></i>
                <span class="fw-bold">
                    &nbsp; Pesquisar por Município
                </span>
            </button>
        </h2>
        <div id="panelsStayOpen-collapseSearch" class="accordion-collapse collapse"
             aria-labelledby="panelsStayOpen-headingSearch">
            <div class="accordion-body">
                <v-select :options="estados"
                          value="id"
                          label="nome"
                          v-model="estadoSelecionado"
                          placeholder="Escolha o estado..."
                >
                    <template v-slot:no-options>Não Encontrado.</template>

                </v-select>

                <v-select :options="municipios"
                          value="municipio"
                          label="nome"
                          v-model="municipioSelecionado"
                          :disabled="!municipios.length"
                          :reset-on-options-change='true'
                          placeholder="Escolha o município..."
                          :class="!municipios.length ? 'hideme' : 'showme'"
                >
                    <template v-slot:no-options>Não Encontrado.</template>
                </v-select>
            </div>
        </div>
    </div>

    <!-- ------ Camadas ------- -->
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-heading2">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapse2" aria-expanded="false"
                    aria-controls="panelsStayOpen-collapse2">
                <i class="fa-solid fa-layer-group"></i>&nbsp;
                <span class="fw-bold">
                     &nbsp; Camadas
                </span>
            </button>
        </h2>
        <div id="panelsStayOpen-collapse2" class="accordion-collapse collapse"
             aria-labelledby="panelsStayOpen-heading2">
            <div class="accordion-body">
                <ul class="list-group list-group-flush list-base-layers">
                    <template v-for="layer in overlayList">
                        <li class="list-group-item d-flex"
                            :class="layer.active ? 'active' : ''"
                            @click="activeOverlayLayer(layer.id)"
                        >
                            <div class="ms-2 me-auto">
                                <span v-if="layer.active">
                                    <i class="fa-solid fa-eye"></i>
                                </span>
                                <span v-else>
                                    <i class="fa fa-eye-slash"></i>
                                </span>
                                ${ layer.nome }
                            </div>
                        </li>
                    </template>
                </ul>
            </div>
        </div>
    </div>

    <!-- ------ Imagens ------- -->
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-heading0">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapse0" aria-expanded="false"
                    aria-controls="panelsStayOpen-collapse0">
                <i class="fa-solid fa-satellite"></i>&nbsp;
                <span class="fw-bold">
                     &nbsp; Imagens de Satélite
                </span>
            </button>
        </h2>
        <div id="panelsStayOpen-collapse0" class="accordion-collapse collapse"
             aria-labelledby="panelsStayOpen-heading0">
            <div class="accordion-body">
                <ul class="list-group list-group-flush list-base-layers">
                    <template v-for="layer in satteliteList">
                        <li class="list-group-item d-flex"
                            :class="layer.active ? 'active' : ''"
                            @click="activeSatteliteLayer(layer.id)"
                        >
                            <div class="ms-2 me-auto">
                            <span v-if="layer.active">
                                <i class="fa-solid fa-eye"></i>
                            </span>
                                <span v-else>
                                <i class="fa fa-eye-slash"></i>
                            </span>
                                ${ layer.nome }
                            </div>
                        </li>
                    </template>
                </ul>
            </div>
        </div>
    </div>

    <!-- ------ Tematicos ------- -->
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-heading1">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapse1" aria-expanded="false"
                    aria-controls="panelsStayOpen-collapse1">
                <i class="fa-solid fa-map"></i>&nbsp;
                <span class="fw-bold">
                    {% if view.map_name == 'geral' %}
                        &nbsp; Temáticos (IBGE)
                    {% elif view.map_name == 'incidencia' %}
                        Incidência Solar
                    {% elif view.map_name == 'monitoramento' %}
                        Número de Dias sem Chuva (INPE)
                    {% endif %}
                </span>
            </button>
        </h2>
        <div id="panelsStayOpen-collapse1" class="accordion-collapse collapse"
             aria-labelledby="panelsStayOpen-heading1">
            <div class="accordion-body">
                <ul class="list-group list-group-flush list-base-layers">
                    <template v-for="layer in themeList" :key="layer.id">
                        <template v-if="layer.origem === 'ibge' || layer.origem === 'inpe-ndsc'">
                            <li class="list-group-item d-flex"
                                :class="layer.active ? 'active' : ''"
                                @click="activeThemeLayer(layer.id)"
                            >
                                <div class="ms-2 me-auto">
                                    <span v-if="layer.active">
                                        <i class="fa-solid fa-eye"></i>
                                    </span>
                                    <span v-else>
                                        <i class="fa fa-eye-slash"></i>
                                    </span>
                                    ${ layer.nome }
                                </div>
                                <span v-if="layer.active" class="badge">
                                    <button class="btn btn-secondary btn-sm" type="button"
                                            data-bs-toggle="offcanvas"
                                            data-bs-target="#offcanvasRight"
                                            aria-controls="offcanvasRight">
                                            <i class="fa fa-list"></i>
                                    </button>
                                </span>
                            </li>
                        </template>
                    </template>
                </ul>
            </div>
        </div>
    </div>

    {% if view.map_name == 'monitoramento' %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingEmbrapa">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseEmbrapa" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseEmbrapa">
                    <i class="fa-solid fa-map"></i>&nbsp;
                    <span class="fw-bold">
                        &nbsp; Previsão de precipitação (INPE)<br>
                    </span>
                </button>
            </h2>
            <div id="panelsStayOpen-collapseEmbrapa" class="accordion-collapse collapse"
                 aria-labelledby="panelsStayOpen-headingEmbrapa">
                <div class="accordion-body">
                    <ul class="list-group list-group-flush list-base-layers">
                        <template v-for="layer in themeList" :key="layer.id">
                            <template v-if="layer.origem === 'inpe-previsao'">
                                <li class="list-group-item d-flex"
                                    :class="layer.active ? 'active' : ''"
                                    @click="activeThemeLayer(layer.id)"
                                >
                                    <div class="ms-2 me-auto">
                        <span v-if="layer.active">
                            <i class="fa-solid fa-eye"></i>
                        </span>
                                        <span v-else>
                            <i class="fa fa-eye-slash"></i>
                        </span>
                                        ${ layer.nome }
                                    </div>
                                    <span v-if="layer.active" class="badge">
                                <button class="btn btn-secondary btn-sm" type="button"
                                        data-bs-toggle="offcanvas"
                                        data-bs-target="#offcanvasRight"
                                        aria-controls="offcanvasRight">
                                        <i class="fa fa-list"></i>
                                </button>
                            </span>
                                </li>
                            </template>

                        </template>
                    </ul>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingUmidade">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseUmidade" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseUmidade">
                    <i class="fa-solid fa-map"></i>&nbsp;
                    <span class="fw-bold">
                        &nbsp; Previsão de Umidade Relativa (INPE)<br>
                    </span>
                </button>
            </h2>
            <div id="panelsStayOpen-collapseUmidade" class="accordion-collapse collapse"
                 aria-labelledby="panelsStayOpen-headingUmidade">
                <div class="accordion-body">
                    <ul class="list-group list-group-flush list-base-layers">
                        <template v-for="layer in themeList" :key="layer.id">
                            <template v-if="layer.origem === 'inpe-umidade'">
                                <li class="list-group-item d-flex"
                                    :class="layer.active ? 'active' : ''"
                                    @click="activeThemeLayer(layer.id)"
                                >
                                    <div class="ms-2 me-auto">
                        <span v-if="layer.active">
                            <i class="fa-solid fa-eye"></i>
                        </span>
                                        <span v-else>
                            <i class="fa fa-eye-slash"></i>
                        </span>
                                        ${ layer.nome }
                                    </div>
                                    <span v-if="layer.active" class="badge">
                                <button class="btn btn-secondary btn-sm" type="button"
                                        data-bs-toggle="offcanvas"
                                        data-bs-target="#offcanvasRight"
                                        aria-controls="offcanvasRight">
                                        <i class="fa fa-list"></i>
                                </button>
                            </span>
                                </li>
                            </template>

                        </template>
                    </ul>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingTempMax">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseTempMax" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseTempMax">
                    <i class="fa-solid fa-map"></i>&nbsp;
                    <span class="fw-bold">
                        &nbsp; Previsão de Temp. Máx. do Ar (INPE)<br>
                    </span>
                </button>
            </h2>
            <div id="panelsStayOpen-collapseTempMax" class="accordion-collapse collapse"
                 aria-labelledby="panelsStayOpen-headingTempMax">
                <div class="accordion-body">
                    <ul class="list-group list-group-flush list-base-layers">
                        <template v-for="layer in themeList" :key="layer.id">
                            <template v-if="layer.origem === 'inpe-temp-max'">
                                <li class="list-group-item d-flex"
                                    :class="layer.active ? 'active' : ''"
                                    @click="activeThemeLayer(layer.id)"
                                >
                                    <div class="ms-2 me-auto">
                        <span v-if="layer.active">
                            <i class="fa-solid fa-eye"></i>
                        </span>
                                        <span v-else>
                            <i class="fa fa-eye-slash"></i>
                        </span>
                                        ${ layer.nome }
                                    </div>
                                    <span v-if="layer.active" class="badge">
                                <button class="btn btn-secondary btn-sm" type="button"
                                        data-bs-toggle="offcanvas"
                                        data-bs-target="#offcanvasRight"
                                        aria-controls="offcanvasRight">
                                        <i class="fa fa-list"></i>
                                </button>
                            </span>
                                </li>
                            </template>

                        </template>
                    </ul>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingRiscoFogo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseRiscoFogo" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseRiscoFogo">
                    <i class="fa-solid fa-map"></i>&nbsp;
                    <span class="fw-bold">
                        &nbsp; Previsão de Risco de Fogo (INPE)<br>
                    </span>
                </button>
            </h2>
            <div id="panelsStayOpen-collapseRiscoFogo" class="accordion-collapse collapse"
                 aria-labelledby="panelsStayOpen-headingRiscoFogo">
                <div class="accordion-body">
                    <ul class="list-group list-group-flush list-base-layers">
                        <template v-for="layer in themeList" :key="layer.id">
                            <template v-if="layer.origem === 'inpe-risco-fogo'">
                                <li class="list-group-item d-flex"
                                    :class="layer.active ? 'active' : ''"
                                    @click="activeThemeLayer(layer.id)"
                                >
                                    <div class="ms-2 me-auto">
                        <span v-if="layer.active">
                            <i class="fa-solid fa-eye"></i>
                        </span>
                                        <span v-else>
                            <i class="fa fa-eye-slash"></i>
                        </span>
                                        ${ layer.nome }
                                    </div>
                                    <span v-if="layer.active" class="badge">
                                <button class="btn btn-secondary btn-sm" type="button"
                                        data-bs-toggle="offcanvas"
                                        data-bs-target="#offcanvasRight"
                                        aria-controls="offcanvasRight">
                                        <i class="fa fa-list"></i>
                                </button>
                            </span>
                                </li>
                            </template>

                        </template>
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}


    {% if view.map_name == 'geral' %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingEmbrapa">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseEmbrapa" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseEmbrapa">
                    <i class="fa-solid fa-map"></i>&nbsp;
                    <span class="fw-bold">
                        &nbsp; Solos (EMBRAPA, 2021) <br>
                        &nbsp;&nbsp;<small>Reamostrados p/ 1km</small>
                    </span>
                </button>
            </h2>
            <div id="panelsStayOpen-collapseEmbrapa" class="accordion-collapse collapse"
                 aria-labelledby="panelsStayOpen-headingEmbrapa">
                <div class="accordion-body">
                    <ul class="list-group list-group-flush list-base-layers">
                        <template v-for="layer in themeList" :key="layer.id">
                            <template v-if="layer.origem === 'embrapa'">
                                <li class="list-group-item d-flex"
                                    :class="layer.active ? 'active' : ''"
                                    @click="activeThemeLayer(layer.id)"
                                >
                                    <div class="ms-2 me-auto">
                        <span v-if="layer.active">
                            <i class="fa-solid fa-eye"></i>
                        </span>
                                        <span v-else>
                            <i class="fa fa-eye-slash"></i>
                        </span>
                                        ${ layer.nome }
                                    </div>
                                    <span v-if="layer.active" class="badge">
                                <button class="btn btn-secondary btn-sm" type="button"
                                        data-bs-toggle="offcanvas"
                                        data-bs-target="#offcanvasRight"
                                        aria-controls="offcanvasRight">
                                        <i class="fa fa-list"></i>
                                </button>
                            </span>
                                </li>
                            </template>

                        </template>
                    </ul>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingAna">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseAna" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseAna">
                    <i class="fa-solid fa-map"></i>&nbsp;
                    <span class="fw-bold">
                        &nbsp; Água no Solo (ANA)
                    </span>
                </button>
            </h2>
            <div id="panelsStayOpen-collapseAna" class="accordion-collapse collapse"
                 aria-labelledby="panelsStayOpen-headingAna">
                <div class="accordion-body">
                    <ul class="list-group list-group-flush list-base-layers">
                        <template v-for="layer in themeList" :key="layer.id">
                            <template v-if="layer.origem === 'ana'">
                                <li class="list-group-item d-flex"
                                    :class="layer.active ? 'active' : ''"
                                    @click="activeThemeLayer(layer.id)"
                                >
                                    <div class="ms-2 me-auto">
                        <span v-if="layer.active">
                            <i class="fa-solid fa-eye"></i>
                        </span>
                                        <span v-else>
                            <i class="fa fa-eye-slash"></i>
                        </span>
                                        ${ layer.nome }
                                    </div>
                                    <span v-if="layer.active" class="badge">
                                                <button class="btn btn-secondary btn-sm" type="button"
                                                        data-bs-toggle="offcanvas"
                                                        data-bs-target="#offcanvasRight"
                                                        aria-controls="offcanvasRight">
                                                        <i class="fa fa-list"></i>
                                                </button>
                                            </span>
                                </li>
                            </template>
                        </template>
                    </ul>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingBiomas">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseBiomas" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseBiomas">
                    <i class="fa-solid fa-map"></i>&nbsp;
                    <span class="fw-bold">
                                    &nbsp; Cobertura e Uso da Terra (MapBiomas - 2021)
                                </span>
                </button>
            </h2>
            <div id="panelsStayOpen-collapseBiomas" class="accordion-collapse collapse"
                 aria-labelledby="panelsStayOpen-headingBiomas">
                <div class="accordion-body">
                    <ul class="list-group list-group-flush list-base-layers">
                        <template v-for="layer in themeList" :key="layer.id">
                            <template v-if="layer.origem === 'mapbiomas'">
                                <li class="list-group-item d-flex"
                                    :class="layer.active ? 'active' : ''"
                                    @click="activeThemeLayer(layer.id)"
                                >
                                    <div class="ms-2 me-auto">
                        <span v-if="layer.active">
                            <i class="fa-solid fa-eye"></i>
                        </span>
                                        <span v-else>
                            <i class="fa fa-eye-slash"></i>
                        </span>
                                        ${ layer.nome }
                                    </div>
                                    <span v-if="layer.active" class="badge">
                                                <button class="btn btn-secondary btn-sm" type="button"
                                                        data-bs-toggle="offcanvas"
                                                        data-bs-target="#offcanvasRight"
                                                        aria-controls="offcanvasRight">
                                                        <i class="fa fa-list"></i>
                                                </button>
                                            </span>
                                </li>
                            </template>
                        </template>
                    </ul>
                </div>
            </div>
        </div>

    {% endif %}
</div>