<!-- Property List Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-0 gx-5 align-items-end">
            <div class="col-lg-4">
                <div class="text-start mx-auto mb-5 wow slideInLeft" data-wow-delay="0.1s">
                    <h1 class="mb-3">Nossos Destaques</h1>
                </div>
            </div>
            <div class="col-lg-8 text-start text-lg-end wow slideInRight" data-wow-delay="0.2s">
                <ul class="nav nav-pills d-inline-flex justify-content-end mb-5">
                    <li class="nav-item me-2">
                        <a class="btn btn-primary" data-bs-toggle="pill" href="#tab-1">Propriedades</a>
                    </li>
                    <li class="nav-item me-2">
                        <a class="btn btn-primary" data-bs-toggle="pill" href="#tab-2">Reserva Legal</a>
                    </li>
                    <li class="nav-item me-2">
                        <a class="btn btn-primary" data-bs-toggle="pill" href="#tab-3">Produtos</a>
                    </li>
                    <li class="nav-item me-2">
                        <a class="btn btn-primary" data-bs-toggle="pill" href="#tab-4">Equipamentos</a>
                    </li>
                    <li class="nav-item me-2">
                        <a class="btn btn-primary" data-bs-toggle="pill" href="#tab-5">Serviços</a>
                    </li>
                    <li class="nav-item me-2">
                        <a class="btn btn-primary" data-bs-toggle="pill" href="#tab-6">Diversos</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane fade show p-0 active">
                <div class="row g-4">
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href=""><img class="img-fluid" src="{{ STATIC_URL }}img/property-1.jpg"
                                                alt=""></a>
                                <div class="bg-white rounded-top position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                    Tipo
                                </div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="mb-3">Sob Consulta</h5>
                                <a class="d-block h5 mb-2" href="">Título do Anúncio</a>
                                <p><i class="fa fa-map-marker-alt me-2"></i>Município/UF</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href=""><img class="img-fluid" src="{{ STATIC_URL }}img/property-2.jpg"
                                                alt=""></a>
                                <div class="bg-white rounded-top position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                    Tipo
                                </div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="mb-3">R$000.000,00</h5>
                                <a class="d-block h5 mb-2" href="">Título do Anúncio</a>
                                <p><i class="fa fa-map-marker-alt me-2"></i>Município/UF</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href=""><img class="img-fluid" src="{{ STATIC_URL }}img/property-3.jpg"
                                                alt=""></a>
                                <div class="bg-white rounded-top position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                    Tipo
                                </div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="mb-3">R$000.000,00</h5>
                                <a class="d-block h5 mb-2" href="">Título do Anúncio</a>
                                <p><i class="fa fa-map-marker-alt me-2"></i>Município/UF</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href=""><img class="img-fluid" src="{{ STATIC_URL }}img/property-4.jpg"
                                                alt=""></a>
                                <div class="bg-white rounded-top position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                    Tipo
                                </div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="mb-3">R$000.000,00</h5>
                                <a class="d-block h5 mb-2" href="">Título do Anúncio</a>
                                <p><i class="fa fa-map-marker-alt me-2"></i>Município/UF</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href=""><img class="img-fluid" src="{{ STATIC_URL }}img/property-5.jpg"
                                                alt=""></a>
                                <div class="bg-white rounded-top position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                    Tipo
                                </div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="mb-3">Sob Consulta</h5>
                                <a class="d-block h5 mb-2" href="">Título do Anúncio</a>
                                <p><i class="fa fa-map-marker-alt me-2"></i>Município/UF</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href=""><img class="img-fluid" src="{{ STATIC_URL }}img/property-6.jpg"
                                                alt=""></a>
                                <div class="bg-white rounded-top position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                    Tipo
                                </div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="mb-3">Sob Consulta</h5>
                                <a class="d-block h5 mb-2" href="">Título do Anúncio</a>
                                <p><i class="fa fa-map-marker-alt me-2"></i>Município/UF</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.1s">
                        <a class="btn btn-primary py-3 px-5" href="#busca">Mais Opções</a>
                    </div>
                </div>
            </div>

            <div id="tab-2" class="tab-pane fade show p-0">
                <div class="row g-4">
                    <div class="col-lg-4 col-md-6">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href=""><img class="img-fluid" src="{{ STATIC_URL }}img/property-7.jpg"
                                                alt=""></a>
                                <div class="bg-white rounded-top position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                    Tipo
                                </div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="mb-3">R$000.000,00</h5>
                                <a class="d-block h5 mb-2" href="">Título do Anúncio</a>
                                <p><i class="fa fa-map-marker-alt me-2"></i>Município/UF</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href=""><img class="img-fluid" src="{{ STATIC_URL }}img/property-8.jpg"
                                                alt=""></a>
                                <div class="bg-white rounded-top position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                    Tipo
                                </div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="mb-3">Sob Consulta</h5>
                                <a class="d-block h5 mb-2" href="">Título do Anúncio</a>
                                <p><i class="fa fa-map-marker-alt me-2"></i>Município/UF</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href=""><img class="img-fluid" src="{{ STATIC_URL }}img/property-9.jpg"
                                                alt=""></a>
                                <div class="bg-white rounded-top position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                    Tipo
                                </div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="mb-3">R$000.000,00</h5>
                                <a class="d-block h5 mb-2" href="">Título do Anúncio</a>
                                <p><i class="fa fa-map-marker-alt me-2"></i>Município/UF</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href=""><img class="img-fluid" src="{{ STATIC_URL }}img/property-10.jpg" alt=""></a>
                                <div class="bg-white rounded-top position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                    Tipo
                                </div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="mb-3">R$000.000,00</h5>
                                <a class="d-block h5 mb-2" href="">Título do Anúncio</a>
                                <p><i class="fa fa-map-marker-alt me-2"></i>Município/UF</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href=""><img class="img-fluid" src="{{ STATIC_URL }}img/property-11.jpg" alt=""></a>
                                <div class="bg-white rounded-top position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                    Tipo
                                </div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="mb-3">R$000.000,00</h5>
                                <a class="d-block h5 mb-2" href="">Título do Anúncio</a>
                                <p><i class="fa fa-map-marker-alt me-2"></i>Município/UF</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href=""><img class="img-fluid" src="{{ STATIC_URL }}img/property-12.jpg" alt=""></a>
                                <div class="bg-white rounded-top position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                    Tipo
                                </div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="mb-3">Sob Consulta</h5>
                                <a class="d-block h5 mb-2" href="">Título do Anúncio</a>
                                <p><i class="fa fa-map-marker-alt me-2"></i>Município/UF</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 text-center">
                        <a class="btn btn-primary py-3 px-5" href="#busca">Mais Opções</a>
                    </div>
                </div>
            </div>

            <div id="tab-3" class="tab-pane fade show p-0">
                <div class="row g-4">
                    <div class="col-lg-4 col-md-6">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href=""><img class="img-fluid" src="{{ STATIC_URL }}img/produto1.jpg" alt=""></a>
                                <div class="bg-white rounded-top position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                    Tipo
                                </div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="mb-3">Sob Consulta</h5>
                                <a class="d-block h5 mb-2" href="">Título do Anúncio</a>
                                <p><i class="fa fa-map-marker-alt me-2"></i>Município/UF</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href=""><img class="img-fluid" src="{{ STATIC_URL }}img/produto2.jpg" alt=""></a>
                                <div class="bg-white rounded-top position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                    Tipo
                                </div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="mb-3">R$000.000,00</h5>
                                <a class="d-block h5 mb-2" href="">Título do Anúncio</a>
                                <p><i class="fa fa-map-marker-alt me-2"></i>Município/UF</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href=""><img class="img-fluid" src="{{ STATIC_URL }}img/produto3.jpg" alt=""></a>
                                <div class="bg-white rounded-top position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                    Tipo
                                </div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="mb-3">R$000.000,00</h5>
                                <a class="d-block h5 mb-2" href="">Título do Anúncio</a>
                                <p><i class="fa fa-map-marker-alt me-2"></i>Município/UF</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href=""><img class="img-fluid" src="{{ STATIC_URL }}img/produto4.jpg" alt=""></a>
                                <div class="bg-white rounded-top position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                    Tipo
                                </div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="mb-3">R$000.000,00</h5>
                                <a class="d-block h5 mb-2" href="">Título do Anúncio</a>
                                <p><i class="fa fa-map-marker-alt me-2"></i>Município/UF</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href=""><img class="img-fluid" src="{{ STATIC_URL }}img/produto5.jpg" alt=""></a>
                                <div class="bg-white rounded-top position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                    Tipo
                                </div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="mb-3">Sob Consulta</h5>
                                <a class="d-block h5 mb-2" href="">Título do Anúncio</a>
                                <p><i class="fa fa-map-marker-alt me-2"></i>Município/UF</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href=""><img class="img-fluid" src="{{ STATIC_URL }}img/produto6.jpg" alt=""></a>
                                <div class="bg-white rounded-top position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                    Tipo
                                </div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="mb-3">Sob Consulta</h5>
                                <a class="d-block h5 mb-2" href="">Título do Anúncio</a>
                                <p><i class="fa fa-map-marker-alt me-2"></i>Município/UF</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.1s">
                        <a class="btn btn-primary py-3 px-5" href="#busca">Mais Opções</a>
                    </div>
                </div>
            </div>

            <div id="tab-4" class="tab-pane fade show p-0">
                <div class="row g-4">
                    <div class="col-lg-4 col-md-6">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href=""><img class="img-fluid" src="{{ STATIC_URL }}img/equipamento1.jpg" alt=""></a>
                                <div class="bg-white rounded-top position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                    Tipo
                                </div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="mb-3">Sob Consulta</h5>
                                <a class="d-block h5 mb-2" href="">Título do Anúncio</a>
                                <p><i class="fa fa-map-marker-alt me-2"></i>Município/UF</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href=""><img class="img-fluid" src="{{ STATIC_URL }}img/equipamento2.jpg" alt=""></a>
                                <div class="bg-white rounded-top position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                    Tipo
                                </div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="mb-3">R$000.000,00</h5>
                                <a class="d-block h5 mb-2" href="">Título do Anúncio</a>
                                <p><i class="fa fa-map-marker-alt me-2"></i>Município/UF</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href=""><img class="img-fluid" src="{{ STATIC_URL }}img/equipamento3.jpg" alt=""></a>
                                <div class="bg-white rounded-top position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                    Tipo
                                </div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="mb-3">R$000.000,00</h5>
                                <a class="d-block h5 mb-2" href="">Título do Anúncio</a>
                                <p><i class="fa fa-map-marker-alt me-2"></i>Município/UF</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href=""><img class="img-fluid" src="{{ STATIC_URL }}img/equipamento4.jpg" alt=""></a>
                                <div class="bg-white rounded-top position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                    Tipo
                                </div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="mb-3">R$000.000,00</h5>
                                <a class="d-block h5 mb-2" href="">Título do Anúncio</a>
                                <p><i class="fa fa-map-marker-alt me-2"></i>Município/UF</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href=""><img class="img-fluid" src="{{ STATIC_URL }}img/equipamento5.jpg" alt=""></a>
                                <div class="bg-white rounded-top position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                    Tipo
                                </div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="mb-3">R$000.000,00</h5>
                                <a class="d-block h5 mb-2" href="">Título do Anúncio</a>
                                <p><i class="fa fa-map-marker-alt me-2"></i>Município/UF</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href=""><img class="img-fluid" src="{{ STATIC_URL }}img/equipamento6.jpg" alt=""></a>
                                <div class="bg-white rounded-top position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                    Tipo
                                </div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="mb-3">Sob Consulta</h5>
                                <a class="d-block h5 mb-2" href="">Título do Anúncio</a>
                                <p><i class="fa fa-map-marker-alt me-2"></i>Município/UF</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 text-center">
                        <a class="btn btn-primary py-3 px-5" href="#busca">Mais Opções</a>
                    </div>
                </div>
            </div>

            <div id="tab-5" class="tab-pane fade show p-0">
                <div class="row g-4">
                    <div class="col-lg-4 col-md-6">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href=""><img class="img-fluid" src="{{ STATIC_URL }}img/servicos1.jpg"
                                                alt=""></a>
                                <div class="bg-white rounded-top position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                    Tipo
                                </div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="mb-3">Sob Consulta</h5>
                                <a class="d-block h5 mb-2" href="">Título do Anúncio</a>
                                <p><i class="fa fa-map-marker-alt me-2"></i>Município/UF</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href=""><img class="img-fluid" src="{{ STATIC_URL }}img/servicos1.jpg"
                                                alt=""></a>
                                <div class="bg-white rounded-top position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                    Tipo
                                </div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="mb-3">Sob Consulta</h5>
                                <a class="d-block h5 mb-2" href="">Título do Anúncio</a>
                                <p><i class="fa fa-map-marker-alt me-2"></i>Município/UF</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href=""><img class="img-fluid" src="{{ STATIC_URL }}img/servicos1.jpg"
                                                alt=""></a>
                                <div class="bg-white rounded-top position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                    Tipo
                                </div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="mb-3">R$000.000,00</h5>
                                <a class="d-block h5 mb-2" href="">Título do Anúncio</a>
                                <p><i class="fa fa-map-marker-alt me-2"></i>Município/UF</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href=""><img class="img-fluid" src="{{ STATIC_URL }}img/servicos1.jpg"
                                                alt=""></a>
                                <div class="bg-white rounded-top position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                    Tipo
                                </div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="mb-3">R$000.000,00</h5>
                                <a class="d-block h5 mb-2" href="">Título do Anúncio</a>
                                <p><i class="fa fa-map-marker-alt me-2"></i>Município/UF</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href=""><img class="img-fluid" src="{{ STATIC_URL }}img/servicos1.jpg"
                                                alt=""></a>
                                <div class="bg-white rounded-top position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                    Tipo
                                </div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="mb-3">R$000.000,00</h5>
                                <a class="d-block h5 mb-2" href="">Título do Anúncio</a>
                                <p><i class="fa fa-map-marker-alt me-2"></i>Município/UF</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href=""><img class="img-fluid" src="{{ STATIC_URL }}img/servicos1.jpg"
                                                alt=""></a>
                                <div class="bg-white rounded-top position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                    Tipo
                                </div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="mb-3">R$000.000,00</h5>
                                <a class="d-block h5 mb-2" href="">Título do Anúncio</a>
                                <p><i class="fa fa-map-marker-alt me-2"></i>Município/UF</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 text-center">
                        <a class="btn btn-primary py-3 px-5" href="#busca">Mais Opções</a>
                    </div>
                </div>
            </div>

            <div id="tab-6" class="tab-pane fade show p-0">
                <div class="row g-4">
                    <div class="col-lg-4 col-md-6">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href=""><img class="img-fluid" src="{{ STATIC_URL }}img/diversos1.jpg"
                                                alt=""></a>
                                <div class="bg-white rounded-top position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                    Tipo
                                </div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="mb-3">R$000.000,00</h5>
                                <a class="d-block h5 mb-2" href="">Título do Anúncio</a>
                                <p><i class="fa fa-map-marker-alt me-2"></i>Município/UF</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href=""><img class="img-fluid" src="{{ STATIC_URL }}img/diversos2.jpg"
                                                alt=""></a>
                                <div class="bg-white rounded-top position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                    Tipo
                                </div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="mb-3">Sob Consulta</h5>
                                <a class="d-block h5 mb-2" href="">Título do Anúncio</a>
                                <p><i class="fa fa-map-marker-alt me-2"></i>Município/UF</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href=""><img class="img-fluid" src="{{ STATIC_URL }}img/diversos3.jpg"
                                                alt=""></a>
                                <div class="bg-white rounded-top position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                    Tipo
                                </div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="mb-3">Sob Consulta</h5>
                                <a class="d-block h5 mb-2" href="">Título do Anúncio</a>
                                <p><i class="fa fa-map-marker-alt me-2"></i>Município/UF</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href=""><img class="img-fluid" src="{{ STATIC_URL }}img/diversos4.jpg"
                                                alt=""></a>
                                <div class="bg-white rounded-top position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                    Tipo
                                </div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="mb-3">R$000.000,00</h5>
                                <a class="d-block h5 mb-2" href="">Título do Anúncio</a>
                                <p><i class="fa fa-map-marker-alt me-2"></i>Município/UF</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href=""><img class="img-fluid" src="{{ STATIC_URL }}img/diversos5.jpg"
                                                alt=""></a>
                                <div class="bg-white rounded-top position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                    Tipo
                                </div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="mb-3">R$000.000,00</h5>
                                <a class="d-block h5 mb-2" href="">Título do Anúncio</a>
                                <p><i class="fa fa-map-marker-alt me-2"></i>Município/UF</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href=""><img class="img-fluid" src="{{ STATIC_URL }}img/diversos6.jpg"
                                                alt=""></a>
                                <div class="bg-white rounded-top position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                    Tipo
                                </div>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="mb-3">Sob Consulta</h5>
                                <a class="d-block h5 mb-2" href="">Título do Anúncio</a>
                                <p><i class="fa fa-map-marker-alt me-2"></i>Município/UF</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.1s">
                        <a class="btn btn-primary py-3 px-5" href="#busca">Mais Opções</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Property List End -->