{% load core_tags %}
<div id="mapa" class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-10 wow fadeIn" data-wow-delay="0.1s">
                <h5 class="text-center">IMÓVEIS A VENDA</h5>
                <div id="map" style="min-height: calc(100vh - 400px);"></div>
            </div>
            <div class="col-lg-2 wow fadeIn" data-wow-delay="0.5s">
                <ul style="list-style: none;">
                    <li>
                        <h5>OUTROS TEMAS</h5><br><br>
                    </li>
                    {% for layer in layers %}
                        {% if layer.lyr != 'imoveis' %}
                            <li>
                                <a href="{% url 'mapas:index' %}?&tema={{ layer.lyr }}">{{ layer.titulo }}</a>
                            </li>
                        {% endif %}
                        <br>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>



{% block extra_js %}
    <script src="{{ STATIC_URL }}artigos/js/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}leaflet/leaflet.js"></script>
    <script src="{{ STATIC_URL }}js/imoveis.js"></script>
    <script src="{{ STATIC_URL }}leaflet/plugins/zoom_to_home/leaflet.zoomhome.js"></script>

    <script src="{{ STATIC_URL }}js/maps/imoveis.js"></script>
{% endblock %}