{% if municipio %}
    <span class="popup-title">MUNICÍPIO:</span>
    <ul>
        <li><span>Nome:</span> {{ municipio.municipio.nome }}/{{ municipio.municipio.sigla_uf }}</li>
        <li><span>Área:</span> {{ municipio.area_km2 }} (km2)</li>
        <li><span>Mais Informações:</span>
            <a href="https://cidades.ibge.gov.br/brasil/{{ municipio.municipio.sigla_uf|lower }}/{{ municipio.municipio.slug }}/panorama"
               target="_blank">
                <i class="fa fa-link"></i> IBGE
            </a>
        </li>
    </ul>
{% endif %}

{% if solos %}
    <span class="popup-title">SOLO:</span>
    <ul>
        <li><span>Descrição:</span> {{ solos.descricao }}</li>
    </ul>
{% endif %}

{% if biomas %}
    <span class="popup-title">BIOMA:</span>
    <ul>
        <li><span>Descrição:</span> {{ biomas.descricao }}</li>
    </ul>
{% endif %}

{% if clima %}
    <span class="popup-title">CLIMA:</span>
    <ul>
        <li><span>Descrição:</span> {{ clima.descricao }}</li>
    </ul>
{% endif %}

{% if declividade %}
    <span class="popup-title">DECLIVIDADE:</span>
    <ul>
        <li><span>Descrição:</span> {{ declividade.descricao }}</li>
    </ul>
{% endif %}

{% if geologia %}
    <span class="popup-title">GEOLOGIA:</span>
    <ul>
        <li><span>Descrição:</span> {{ geologia.descricao }}</li>
    </ul>
{% endif %}

{% if incidencia %}
    <span class="popup-title">INCIDÊNCIA SOLAR:</span>
    <ul>
        <li><span>Valor (Wh/m²):</span> {{ incidencia.annual }}</li>
    </ul>
{% endif %}

{% if geomorfologia %}
    <span class="popup-title">GEOMORFOLOGIA:</span>
    <ul>
        <li><span>Descrição:</span> {{ geomorfologia.descricao }}</li>
    </ul>
{% endif %}

{% if relevo %}
    <span class="popup-title">RELEVO:</span>
    <ul>
        <li><span>Descrição:</span> {{ relevo.descricao }}</li>
    </ul>
{% endif %}

{% if assentamentos %}

    <span class="popup-title">ASSENTAMENTO:</span>
    <ul>
        <li><span>Cód. SIPRA:</span> {{ assentamentos.cd_sipra }}</li>
        <li><span>Nome:</span> {{ assentamentos.nome_proje }}</li>
        <li><span>Área (ha):</span> {{ assentamentos.area_hecta|floatformat:2 }}</li>
    </ul>
{% endif %}

{% if area_indigena %}

    <span class="popup-title">ÁREA INDÍGENA:</span>
    <ul>
        <li><span>Nome:</span> {{ area_indigena.nome|default:'' }}</li>
        <li><span>Etnia:</span> {{ area_indigena.grupoetnic|default:'' }}</li>
        <li><span>Área Legal (ha):</span> {{ area_indigena.arealegal|default:'' }}</li>
    </ul>
{% endif %}

{% if area_protegida %}

    <span class="popup-title">ÁREA PROTEGIDA:</span>
    <ul>
        <li><span>Nome:</span> {{ area_protegida.nome|default:'' }}</li>
        <li><span>Sigla:</span> {{ area_protegida.sigla|default:'' }}</li>
        <li><span>Área (ha):</span> {{ area_protegida.area_ha }}</li>
    </ul>

{% endif %}

{% if imovel_venda %}

    <span class="popup-title">IMÓVEL A VENDA:</span>
    <ul>
        <li><span>Cód. do Imóvel:</span> {{ imovel_venda.cod_imovel }}</li>
        <li><span>Núm. Área:</span> {{ imovel_venda.num_area|floatformat:0 }}</li>
        <li><span>Núm do Módulo:</span> {{ imovel_venda.num_modulo }}</li>
        <li><span>Tipo do Imóvel:</span> {{ imovel_venda.tipo_imove }}</li>
        <li><span>Situação:</span> {{ imovel_venda.situacao }}</li>
        <li><span>Condição:</span> {{ imovel_venda.condicao_i }}</li>
    </ul>

{% endif %}