{% load core_tags mapas_tags widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GeoFazendas | Incidência Solar</title>
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico" type="image/x-icon">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{{ STATIC_URL }}artigos/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="{{ STATIC_URL }}artigos/css/style.css" type="text/css">
    <script src="{{ STATIC_URL }}fonts/864116099e.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}artigos/css/templatemo-stand-blog.css">

    <!-- Leaflet -->
    <link rel="stylesheet" href="{{ STATIC_URL }}leaflet/leaflet.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}leaflet/plugins/zoom_to_home/leaflet.zoomhome.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/map/map_index.css">

    <link rel="stylesheet" href="{{ STATIC_URL }}js/select2/select2.min.css"/>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@ttskch/select2-bootstrap4-theme@x.x.x/dist/select2-bootstrap4.min.css">
</head>

<body>
<!-- Preloader Starts Here -->
<div id="preloader">
    <div class="jumper"></div>
</div>
<!-- Preloader Ends Here -->

<!-- Header Starts Here -->
<header id="header" class="fixed-top  header-transparent">
    <div class="container d-flex align-items-center justify-content-between">
        <div class="logo">
            <a href="{% url 'base:index' %}">
                <img src="{{ STATIC_URL }}artigos/img/logo/logo2.png" alt="Logo GeoFazendas" class="img-fluid">
            </a>
        </div>
        <nav id="navbar" class="navbar" class="navbar-collapse collapse">
            <ul>
                <li><a class="nav-link scrollto" href="{% url 'base:index' %}">INÍCIO</a></li>
                <li><a class="nav-link scrollto" href="{% url 'base:index' %}#busca">ANÚNCIOS</a></li>
                <li><a class="nav-link scrollto" href="{% url 'mapas:index' %}#busca">MAPAS</a></li>
                <li><a class="nav-link scrollto" href="{% url 'artigos:artigo_list' %}">ARTIGOS</a></li>
                <li><a class="nav-link scrollto" href="{% url 'artigos:noticia_list' %}">NOTÍCIAS</a></li>
                <li><a class="nav-link scrollto" href="{% url 'artigos:curso_list' %}">CURSOS</a></li>
                <li><a class="nav-link scrollto" href="" target="_blank">APP</a></li>
                <li><a class="getstarted scrollto" href="">ACESSAR</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
    </div>
</header>
<!-- Header Ends Here -->

<div id="map-container" class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            {% get_settings 'GEOSERVER_URL' as geoserver_url %}
            <input type="hidden" id="geoserver_url" value="{{ geoserver_url }}">
            <input type="hidden" id="popup_url" value="{% url 'mapas:get_dados' -1.0 -1.0 "a" %}">
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight"
                 aria-labelledby="offcanvasRightLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasRightLabel">Offcanvas right</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    {% for layer in layers %}
                        {% if layer.lyr == 'irradiacao' %}
                            <strong>{{ layer.titulo }}</strong><br>
                            <img src="{{ geoserver_url }}{% get_legend layer.lyr %}" alt="">
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                                aria-controls="panelsStayOpen-collapseOne">
                            <i class="fa-solid fa-sun"></i>&nbsp;
                            <span class="fw-bold">
                                Mapa da Incidência Solar
                            </span>

                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                         aria-labelledby="panelsStayOpen-headingOne">
                        <div class="accordion-body">
                            <ol class="list-group">
                                {% for layer in layers %}
                                    {% if layer.lyr == 'irradiacao' %}
                                        <li class="list-group-item d-flex active">
                                        <div class="ms-2 me-auto">
                                            <div>
                                                <a href="?tema={{ layer.lyr }}" class="mapa-link">
                                                    {{ layer.titulo }}
                                                </a>
                                            </div>
                                        </div>
                                        <span class="badge">
                                        <button class="btn btn-secondary btn-sm" type="button"
                                                data-bs-toggle="offcanvas"
                                                data-bs-target="#offcanvasRight"
                                                aria-controls="offcanvasRight">
                                            <i class="fa fa-list"></i>
                                        </button>
                                    {% endif %}
                                </span>
                                </li>
                                {% endfor %}
                            </ol>


                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseTwo">
                            <i class="fa-solid fa-magnifying-glass"></i>&nbsp;
                            <span class="fw-bold">
                                Pesquisar por Município
                            </span>
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                         aria-labelledby="panelsStayOpen-headingTwo">
                        <div class="accordion-body">

                            <form id="search"
                                  method="GET"
                                  action=""
                                  data-urlmunicipios="{% url 'mapas:municipio_ajax' %}"
                            >
                                <div class="form-group">
                                    {% render_field form.estado title="Estados" class="form-control" %}
                                </div>

                                <div class="form-group" style="padding:10px;">

                                    <select class="form-control" id="id_municipio">
                                        <option>---------------------</option>
                                    </select>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>

            </div>


        </div>
        <div class="col-md-10">
            <div id="map"></div>
        </div>
    </div>
</div>


<!-- Bootstrap core JavaScript -->
<script src="{{ STATIC_URL }}artigos/js/jquery.min.js"></script>
<script src="{{ STATIC_URL }}artigos/js/bootstrap.bundle.min.js"></script>
<script src="{{ STATIC_URL }}artigos/js/custom.js"></script>
<script src="{{ STATIC_URL }}artigos/js/owl.js"></script>
<script src="{{ STATIC_URL }}artigos/js/slick.js"></script>
<script src="{{ STATIC_URL }}artigos/js/isotope.js"></script>
<script src="{{ STATIC_URL }}artigos/js/accordions.js"></script>
<script src="{{ STATIC_URL }}js/select2/select2.full.min.js"></script>
<!-- Leaflet -->
<script src="{{ STATIC_URL }}leaflet/leaflet.js"></script>
<script src="{{ STATIC_URL }}leaflet/plugins/zoom_to_home/leaflet.zoomhome.js"></script>
<script src="{{ STATIC_URL }}leaflet/plugins/spin/spin.min.js"></script>
<script src="{{ STATIC_URL }}leaflet/plugins/spin/leaflet.spin.min.js"></script>

<script>
    var themeName = 'irradiacao';
</script>
<script src="{{ STATIC_URL }}js/maps/theme.js"></script>
<script src="{{ STATIC_URL }}js/maps/addlayers.js"></script>
<script src="{{ STATIC_URL }}js/maps/busca.js"></script>
</body>
</html>