{% load core_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GeoFazendas | Mapas</title>
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico" type="image/x-icon">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="{{ STATIC_URL }}artigos/css/style.css" type="text/css">
    <script src="{{ STATIC_URL }}fonts/864116099e.js"></script>

    <!-- Leaflet -->
    <link rel="stylesheet" href="{{ STATIC_URL }}leaflet/leaflet.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}leaflet/plugins/zoom_to_home/leaflet.zoomhome.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/map/mapa.css">
    <link rel="stylesheet" href="https://unpkg.com/vue-select/dist/vue-select.css"/>
</head>
<body>
<!-- Header Starts Here -->
<header id="header" class="fixed-top  header-transparent">
    <div class="container d-flex align-items-center justify-content-between">
        <div class="logo">
            <a href="{% url 'base:index' %}">
                <img src="{{ STATIC_URL }}artigos/img/logo/logo2.png" alt="Logo GeoFazendas" class="img-fluid">
            </a>
        </div>
        <nav id="navbar" class="navbar" class="navbar-collapse collapse">
            <ul>
                <li><a class="nav-link scrollto" href="{% url 'base:index' %}">INÍCIO</a></li>
                <li><a class="nav-link scrollto" href="{% url 'base:index' %}#busca">ANÚNCIOS</a></li>
                <li><a class="nav-link scrollto" href="{% url 'mapas:index' %}">MAPAS</a></li>
                <li><a class="nav-link scrollto" href="{% url 'artigos:artigo_list' %}">ARTIGOS</a></li>
                <li><a class="nav-link scrollto" href="{% url 'artigos:noticia_list' %}">NOTÍCIAS</a></li>
                <li><a class="nav-link scrollto" href="{% url 'artigos:curso_list' %}">CURSOS</a></li>
                <li><a class="nav-link scrollto" href="" target="_blank">APP</a></li>
                <li><a class="getstarted scrollto" href="">ACESSAR</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
    </div>

</header>
<!-- Header Ends Here -->
<div id="app">
    <div id="map-container" class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                {% get_settings 'GEOSERVER_URL' as geoserver_url %}
                <input type="hidden" id="geoserver_url" value="{{ geoserver_url }}">
                <input type="hidden" id="queimadas_url" value="{% url 'mapas:focos_queimadas' %}">
                <input type="hidden" id="popup_url" ref="popup_url" value="{% url 'mapas:get_dados' -1.0 -1.0 "a" %}">
                <input type="hidden" id="data_atual" value="{% now "SHORT_DATE_FORMAT" %}">
                <input type="hidden" id="map_name" ref="map_name" value="{{ view.map_name }}">
                <input type="hidden" id="estados-api"
                       value="{% url 'estado-list' %}">
                <input type="hidden" id="municipios-api"
                       value="{% url 'municipio-list' %}">

                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight"
                     aria-labelledby="offcanvasRightLabel">
                    <div class="offcanvas-header">
                        <span class="offcanvas-title" id="offcanvasRightLabel">
                            <i class="fa fa-info-circle"></i>
                            <strong>
                                INFORMAÇÕES ADICIONAIS:
                            </strong>
                        </span>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <template v-for="layer in themeList" :key="layer.id">
                            <template v-if="layer.active">
                                <span class="legenda">
                                    <strong>Nome da camada:</strong> ${ layer.nome }
                                </span>
                                <span class="legenda">
                                    <strong>Referência:</strong> ${ layer.referencia}
                                </span>
                                <span class="legenda">
                                    <strong>Link:</strong> ${ layer.link}
                                </span>
                                <hr>
                                <span class="legenda">
                                    <strong>Legenda:</strong>
                                </span>
                                <img :src="layer.leg" alt="">
                            </template>
                        </template>
                    </div>
                </div>
                {% include 'mapas/includes/barra_lateral.html' %}
            </div>
            <div class="col-md-10">
                <div id="map"></div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript -->
<script src="{{ STATIC_URL }}js/jquery.js"></script>
<script src="{{ STATIC_URL }}vendor/js/bootstrap.bundle.min.js"></script>
<!-- Leaflet -->
<script src="{{ STATIC_URL }}leaflet/leaflet.js"></script>
<script src="{{ STATIC_URL }}leaflet/plugins/zoom_to_home/leaflet.zoomhome.js"></script>
<script src="{{ STATIC_URL }}leaflet/plugins/spin/spin.min.js"></script>
<script src="{{ STATIC_URL }}leaflet/plugins/spin/leaflet.spin.min.js"></script>
<script src="{{ STATIC_URL }}vendor/axios/axios.min.js"></script>
<script src="{{ STATIC_URL }}vendor/vuejs/vue.global.prod.js"></script>
<script src="{{ STATIC_URL }}vendor/vuejs/vue-select@beta"></script>
<script src="{{ STATIC_URL }}js/maps/base.js"></script>
{% if view.map_name == 'geral' %}
    <script src="{{ STATIC_URL }}js/maps/layers_list.js"></script>
{% elif view.map_name == 'incidencia' %}
    <script src="{{ STATIC_URL }}js/maps/incidencia_list.js"></script>
{% elif view.map_name == 'monitoramento' %}
    <script src="{{ STATIC_URL }}js/maps/monitoramento_list.js"></script>
{% endif %}
<script src="{{ STATIC_URL }}js/maps/mapa.js"></script>

</body>
</html>