{% load core_tags %}
{% get_settings 'GEOSERVER_URL' as geoserver_url %}

<!DOCTYPE html>
<html lang="en">
<head>
    <base target="_top">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Imóveis a venda</title>

    <link href="{{ STATIC_URL }}img/favicon.ico" rel="icon">
    <!-- Leaflet -->
    <link rel="stylesheet" href="{{ STATIC_URL }}leaflet/leaflet.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}leaflet/plugins/zoom_to_home/leaflet.zoomhome.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/map/mobile.css">
    <script src="{{ STATIC_URL }}fonts/864116099e.js"></script>

</head>
<body>
<input type="hidden" id="geoserver_url" value="{{ geoserver_url }}">
<input id="extent" type="hidden" value="{{ municipio.municipiogeometria.extent }}">

{% if request.GET.zoom %}
    <input id="estado_extent" type="hidden" value="{{ municipio.estado.extent }}">
{% endif %}

<input id="data_atual" type="hidden" value="00/00/00">
<input id="cod_ibge_m" type="hidden" value="{{ municipio.cod_ibge_m }}">
<input type="hidden" id="queimadas_url" value="{% url 'mapas:focos_queimadas' %}">
<input type="hidden" id="id_municipio" value="{{ municipio.id|safe }}">
<input type="hidden" id="tematico" value="{{ request.GET.tematico }}">
<input type="hidden" id="municipio_nome" value="{{ municipio.nome }}">
<div id="map"></div>
<!-- Leaflet -->
<script src="{{ STATIC_URL }}artigos/js/jquery.min.js"></script>
<script src="{{ STATIC_URL }}leaflet/leaflet.js"></script>
<script src="{{ STATIC_URL }}leaflet/plugins/zoom_to_home/leaflet.zoomhome.js"></script>
<script src="{{ STATIC_URL }}leaflet/plugins/spin/spin.min.js"></script>
<script src="{{ STATIC_URL }}leaflet/plugins/spin/leaflet.spin.min.js"></script>
<script src="{{ STATIC_URL }}js/maps/base.js"></script>
<script src="{{ STATIC_URL }}js/maps/layers_list.js"></script>
<script src="{{ STATIC_URL }}js/maps/mobile.js"></script>
</body>
</html>