{% extends "base.html" %}

{% block extra_css %}
<link href="{{ STATIC_URL }}vendor/css/templatemo-stand-blog.css" rel="stylesheet">
{% endblock %}

{% block container %}
{% include "includes/nav.html" %}
<!-- Header Start -->
<div class="container-fluid header bg-white p-0">
    <div class="row g-0 align-items-center flex-column-reverse flex-md-row">
      <img id="header" class="img-fluid" src="{{ STATIC_URL }}vendor/img/aberta/creditoB.png" alt="">
    </div>
</div>
<!-- Header End -->
<section class="blog-posts">
    <div class="container">
      <div class="row">
        <!-- Posts Starts Here -->
        <div class="col-lg-8">
          <div class="all-blog-posts">
            <div class="row">
              <div class="col-lg-12">
                <div class="blog-post">
                    <div class="down-content">
                      <span></span>
                      <h4>Crédito de carbono: o que é e como funciona esse mercado para o meio ambiente?</h4>
                      <ul class="post-info">
                        <!-- <ul class="post-info">
                          <li><a href="#">Autor</a></li>
                          <li><a href="#">12/07/2022</a></li>
                        </ul> -->
                        <p>
                          Promover o desenvolvimento de forma sustentável é atualmente um dos maiores e mais urgentes desafios para os setores industriais, agrícolas e de transportes. Isso porque, a cada ano, são mais comuns os casos de incêndios, enchentes e de redução da biodiversidade do nosso planeta em decorrência do aumento do nível de emissões de gases de efeito estufa (GEEs) – como o dióxido de carbono (CO2, popularmente conhecido como gás carbônico), metano e óxido nitroso.
                        </p>
                        <p>
                          De acordo com a <a target="_blank" href="https://www.unep.org/pt-br/noticias-e-reportagens/reportagem/o-aumento-alarmante-da-temperatura-global#:~:text=O%20ano%202020%20foi%20de,j%C3%A1%20a%20partir%20de%202024.">Organização das Nações Unidas (ONU)</a>, em 2020, a concentração de CO2 (principal responsável pelo efeito estufa) na atmosfera aumentou 2,57 partes por milhão (ppm), atingindo a maior concentração já registrada em dezembro: 4,14 ppm. Por isso, diferentes alternativas sustentáveis vêm sendo focos de discussão, regulamentação e implementação por iniciativas públicas e privadas ao redor do mundo, entre elas, o <strong>crédito de carbono</strong>.
                        </p>

                        <h3>O que significa crédito de carbono?</h3>
                        <p>
                          Apesar de parecer um conceito novo, o mercado do carbono surgiu na Convenção-Quadro das Nações Unidas sobre a Mudança do Clima, no Japão, em 1997, como uma iniciativa promissora na preservação ambiental. Nela, foi criado o Protocolo de Kyoto, um acordo mundial para propor metas para conter as emissões de gases prejudiciais ao meio ambiente, permitindo aos mais de 175 países que assinaram o acordo que as metas de redução pudessem ser atingidas através de negociações. No ano seguinte, cientistas do Brasil, China e Índia passaram a discutir a criação de créditos financeiros para projetos contra o aquecimento global.
                        </p>
                        <p>
                          Nesse contexto, segundo o <a target="_blank" href="https://www.in.gov.br/en/web/dou/-/decreto-n-11.075-de-19-de-maio-de-2022-401425370">decreto nº 11.075https://www.in.gov.br/en/web/dou/-/decreto-n-11.075-de-19-de-maio-de-2022-401425370</a> do Governo Federal, de 19 de maio de 2022, o crédito de carbono é um “ativo financeiro, ambiental, transferível e representativo de redução ou remoção de uma tonelada de dióxido de carbono equivalente, que tenha sido reconhecido e emitido como crédito no mercado voluntário ou regulado”. Também não se trata de um produto físico e exclusivamente relacionado ao gás carbônico, mas à emissão de todos os gases comprovadamente nocivos.
                        </p>
                        <h3>E na prática?</h3>
                        <p>
                          De modo geral, a Redução Certificada de Emissões (RCE), ou crédito de carbono, funciona como uma espécie de “moeda” utilizada no mercado para que empresas que apresentam uma alta taxa de emissão de gases (e que, sozinhas, não conseguem reduzir consideravelmente esse número) comprem créditos de outras empresas que operam abaixo da meta, seja pela redução das emissões ou através de projetos de sustentabilidade. Quem emite abaixo do limite calculado vende créditos para quem emite mais. Se uma empresa precisa reduzir a emissão em 5.000 toneladas de CO2 e consegue 10.000 toneladas, tem 5.000 créditos para serem negociados, por exemplo. As emissões de outros gases seguem essa mesma conversão.
                        </p>
                        <p>
                          Os planos para a geração de crédito de carbono são a troca de combustível para a produção de calor e energia por fontes renováveis ou o plantio de árvores que absorvem a substância na atmosfera, dependendo de cada caso. Na segunda opção, cada tonelada de gás absorvida por uma mata corresponde a um crédito de carbono.
                        </p>
                        <h3>Quem pode e como aderir?</h3>
                        <p>
                          Empresas de diferentes segmentos e tamanhos podem adotar a prática, assim como pessoas físicas, com o apoio de especialistas para calcular a meta de redução e definir a melhor estratégia. A adesão a este mercado não só traz benefícios ao meio ambiente, como gera também marketing positivo para a empresa e garante que ela antecipe possíveis regulamentações ambientais. A Apple, Ambev, Amazon, O Boticário, Natura e iFood são algumas das organizações que anunciaram metas de redução de emissões e utilizam o crédito de carbono.
                        </p>
                        <p>
                          Porém, ao contrário dos países da Europa, China, Nova Zelândia e Cazaquistão, que já possuem esse mercado devidamente regulamentado, no Brasil, não existem leis que obriguem as empresas a compensar carbono ou estabelecer metas em relação às emissões de GEEs, apenas o decreto citado anteriormente que estabelece que “fica instituído o Sistema Nacional de Redução de Emissões de Gases de Efeito Estufa - Sinare, cuja finalidade é servir de central única de registro de emissões, remoções, reduções e compensações de gases de efeito estufa e de atos de comércio, de transferências, de transações e de aposentadoria de créditos certificados de redução de emissões”. Hoje, esse compromisso é feito de maneira voluntária e sem incentivos fiscais do governo, e se restringem a projetos internos do setor privado.
                        </p>
                        <p>
                          De acordo com o CEO da startup de logística iTrack Brasil, Daniel Drapac, <a href="https://www.cnnbrasil.com.br/business/mercado-de-carbono-conheca-empresas-que-pretendem-compensar-suas-emissoes/" target="_blank">em entrevista para a CNN Brasilhttps://www.cnnbrasil.com.br/business/mercado-de-carbono-conheca-empresas-que-pretendem-compensar-suas-emissoes/</a>, existem basicamente três formas de emissões a serem mensuradas: as que são originadas diretamente das atividades da empresa, as emissões das atividades terceirizadas ou relacionadas às matérias primas e aquelas provenientes do consumo de eletricidade da empresa. As metas definidas variam entre zerar, diminuir ou compensar as emissões de carbono ao longo dos próximos anos ou décadas. Como zerar é uma opção que pode interferir na produção, geração de empregos e lucros, a compensação é a alternativa mais escolhida.
                        </p>
                        <div class="post-options">
                          <div class="row">
                            <div class="col-6">
                              <ul class="post-tags">
                                <li><i class="fa fa-tags"></i></li>
                                <li><a href="#">Crédito</a></li>
                                <li><a href="#">Negócios</a></li>
                              </ul>
                            </div>
                            <div class="col-6">
                              <ul class="post-share">
                                <li><i class="fa fa-share-alt"></i></li>
                                <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          {% include "artigos/includes/sidebar.html" %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}