<section class="bg0 p-t-70">
    <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8">
            <div class="p-b-20">

                <!-- Business -->
                <div class="tab01 p-b-20">
                    <div class="tab01-head how2 how2-cl2 bocl12 flex-s-c m-r-10 m-r-0-sr991">
                        <!-- Brand tab -->
                        <h3 class="f1-m-2 cl13 tab01-title">
                            CLIMA
                        </h3>
                    </div>

                    <!-- Tab panes -->
                    {% with primeiro_clima=view.primeiro_clima %}
                    {% if primeiro_clima %}
                    <div class="tab-content p-t-35">
                        <!-- - -->
                        <div class="tab-pane fade show active" id="tab2-1" role="tabpanel">
                            <div class="row">
                                <div class="col-sm-6 p-r-25 p-r-15-sr991">
                                    <!-- Item post -->
                                    <div class="m-b-30">
                                        <div class="wrap-pic-w hov1 trans-03">
                                            {% if primeiro_clima.foto %}
                                            <img src="{{ primeiro_clima.foto.url }}" alt="IMG">
                                            {% else %}
                                            <img src="{{ STATIC_URL }}vendor/img/sindicatos/post-10.jpg" alt="IMG">
                                            {% endif %}
                                        </div>

                                        <div class="p-t-20">
                                            <h5 class="p-b-5">
                                                <a href="{% url 'artigos:artigo_detail' primeiro_clima.tipo_artigo primeiro_clima.slug %}"
                                                    class="f1-m-3 cl2 hov-cl10 trans-03">
                                                    {{ primeiro_clima.titulo }}
                                                </a>
                                            </h5>

                                            <span class="cl8">
                                                {% if primeiro_clima.categoria %}
                                                    {% if primeiro_clima.tipo_artigo == 'artigos' %}
                                                    <a href="{% url 'artigos:artigo_list' %}?categoria={{ primeiro_clima.categoria.slug }}" class="f1-s-4 cl8 hov-cl10 trans-03">
                                                    {% elif primeiro_clima.tipo_artigo == 'cursos' %}
                                                    <a href="{% url 'artigos:curso_list' %}?categoria={{ primeiro_clima.categoria.slug }}" class="f1-s-4 cl8 hov-cl10 trans-03"></a>
                                                    {% elif primeiro_clima.tipo_artigo == 'noticias' %}
                                                    <a href="{% url 'artigos:noticia_list' %}?categoria={{ primeiro_clima.categoria.slug }}" class="f1-s-4 cl8 hov-cl10 trans-03"></a>
                                                    {% else %}
                                                    <a href="{% url 'artigos:clima_list' %}?categoria={{ primeiro_clima.categoria.slug }}" class="f1-s-4 cl8 hov-cl10 trans-03"></a>
                                                    {% endif %}
                                                        {{ primeiro_clima.categoria }}
                                                    </a>
                                                {% endif %}

                                                <span class="f1-s-3 m-rl-3">
                                                    {{ primeiro_clima.autor }}
                                                </span>

                                                <span class="f1-s-3">
                                                    {{ primeiro_clima.data_publicacao|date:'d/m/Y' }}
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6 p-r-25 p-r-15-sr991">
                                    <!-- Item post -->
                                    {% for clima in view.clima %}
                                    <div class="flex-wr-sb-s m-b-30">
                                        <div class="size-w-1 wrap-pic-w hov1 trans-03">
                                            {% if clima.foto %}
                                            <img src="{{ clima.foto.url }}" alt="IMG">
                                            {% else %}
                                            <img src="{{ STATIC_URL }}vendor/img/sindicatos/post-11.jpg" alt="IMG">
                                            {% endif %}
                                        </div>

                                        <div class="size-w-2">
                                            <h5 class="p-b-5">
                                                <a href="{% url 'artigos:artigo_detail' clima.tipo_artigo clima.slug %}"
                                                    class="f1-s-5 cl3 hov-cl10 trans-03">
                                                    {{ clima.titulo }}
                                                </a>
                                            </h5>

                                            <span class="cl8">
                                                <a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
                                                    {% if clima.categoria %}
                                                        {% if clima.tipo_artigo == 'artigos' %}
                                                        <a href="{% url 'artigos:artigo_list' %}?categoria={{ clima.categoria.slug }}" class="f1-s-4 cl8 hov-cl10 trans-03">
                                                        {% elif clima.tipo_artigo == 'cursos' %}
                                                        <a href="{% url 'artigos:curso_list' %}?categoria={{ clima.categoria.slug }}" class="f1-s-4 cl8 hov-cl10 trans-03"></a>
                                                        {% elif clima.tipo_artigo == 'noticias' %}
                                                        <a href="{% url 'artigos:noticia_list' %}?categoria={{ clima.categoria.slug }}" class="f1-s-4 cl8 hov-cl10 trans-03"></a>
                                                        {% else %}
                                                        <a href="{% url 'artigos:clima_list' %}?categoria={{ clima.categoria.slug }}" class="f1-s-4 cl8 hov-cl10 trans-03"></a>
                                                        {% endif %}
                                                            {{ clima.categoria }}
                                                        </a>
                                                    {% endif %}
                                                </a>

                                                <span class="f1-s-3 m-rl-3">
                                                    {{ clima.autor }}
                                                </span>

                                                <span class="f1-s-3">
                                                    {{ clima.data_publicacao|date:'d/m/Y' }}
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endwith %}
                </div>

                <!-- Business -->
                <div class="tab01 p-b-20">
                    <div class="tab01-head how2 how2-cl2 bocl12 flex-s-c m-r-10 m-r-0-sr991">
                        <!-- Brand tab -->
                        <h3 class="f1-m-2 cl13 tab01-title">
                            ARTIGOS
                        </h3>
                    </div>

                    <!-- Tab panes -->
                    {% with primeiro_artigo=view.primeiro_artigo %}
                    {% if primeiro_artigo %}
                    <div class="tab-content p-t-35">
                        <!-- - -->
                        <div class="tab-pane fade show active" id="tab2-1" role="tabpanel">
                            <div class="row">
                                <div class="col-sm-6 p-r-25 p-r-15-sr991">
                                    <!-- Item post -->
                                    <div class="m-b-30">
                                        <div class="wrap-pic-w hov1 trans-03">
                                            {% if primeiro_artigo.foto %}
                                            <img src="{{ primeiro_artigo.foto.url }}" alt="IMG">
                                            {% else %}
                                            <img src="{{ STATIC_URL }}vendor/img/sindicatos/post-10.jpg" alt="IMG">
                                            {% endif %}
                                        </div>

                                        <div class="p-t-20">
                                            <h5 class="p-b-5">
                                                <a href="{% url 'artigos:artigo_detail' primeiro_artigo.tipo_artigo primeiro_artigo.slug %}"
                                                    class="f1-m-3 cl2 hov-cl10 trans-03">
                                                    {{ primeiro_artigo.titulo }}
                                                </a>
                                            </h5>

                                            <span class="cl8">
                                                {% if primeiro_artigo.categoria %}
                                                    <a href="{% url 'artigos:artigo_list' %}?categoria={{ primeiro_clima.categoria.slug }}" class="f1-s-4 cl8 hov-cl10 trans-03">
                                                        {{ primeiro_artigo.categoria }}
                                                    </a>
                                                {% endif %}

                                                <span class="f1-s-3 m-rl-3">
                                                    {{ primeiro_artigo.autor }}
                                                </span>

                                                <span class="f1-s-3">
                                                    {{ primeiro_artigo.data_publicacao|date:'d/m/Y' }}
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6 p-r-25 p-r-15-sr991">
                                    <!-- Item post -->
                                    {% for artigo in view.artigos %}
                                    <div class="flex-wr-sb-s m-b-30">
                                        <div class="size-w-1 wrap-pic-w hov1 trans-03">
                                            {% if artigo.foto %}
                                            <img src="{{ clima.foto.url }}" alt="IMG">
                                            {% else %}
                                            <img src="{{ STATIC_URL }}vendor/img/sindicatos/post-11.jpg" alt="IMG">
                                            {% endif %}
                                        </div>

                                        <div class="size-w-2">
                                            <h5 class="p-b-5">
                                                <a href="{% url 'artigos:artigo_detail' artigo.tipo_artigo artigo.slug %}"
                                                    class="f1-s-5 cl3 hov-cl10 trans-03">
                                                    {{ artigo.titulo }}
                                                </a>
                                            </h5>

                                            <span class="cl8">
                                                <a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
                                                    {% if artigo.categoria %}
                                                        <a href="{% url 'artigos:artigo_list' %}?categoria={{ artigo.categoria.slug }}" class="f1-s-4 cl8 hov-cl10 trans-03">
                                                            {{ artigo.categoria }}
                                                        </a>
                                                    {% endif %}
                                                </a>

                                                <span class="f1-s-3 m-rl-3">
                                                    {{ artigo.autor }}
                                                </span>

                                                <span class="f1-s-3">
                                                    {{ artigo.data_publicacao|date:'d/m/Y' }}
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endwith %}
                </div>

                 <!-- Business -->
                 <div class="tab01 p-b-20">
                    <div class="tab01-head how2 how2-cl2 bocl12 flex-s-c m-r-10 m-r-0-sr991">
                        <!-- Brand tab -->
                        <h3 class="f1-m-2 cl13 tab01-title">
                            NOTÍCIAS
                        </h3>
                    </div>

                    <!-- Tab panes -->
                    {% with primeira_noticia=view.primeira_noticia %}
                    {% if primeira_noticia %}
                    <div class="tab-content p-t-35">
                        <!-- - -->
                        <div class="tab-pane fade show active" id="tab2-1" role="tabpanel">
                            <div class="row">
                                <div class="col-sm-6 p-r-25 p-r-15-sr991">
                                    <!-- Item post -->
                                    <div class="m-b-30">
                                        <div class="wrap-pic-w hov1 trans-03">
                                            {% if primeira_noticia.foto %}
                                            <img src="{{ primeira_noticia.foto.url }}" alt="IMG">
                                            {% else %}
                                            <img src="{{ STATIC_URL }}vendor/img/sindicatos/post-10.jpg" alt="IMG">
                                            {% endif %}
                                        </div>

                                        <div class="p-t-20">
                                            <h5 class="p-b-5">
                                                <a href="{% url 'artigos:artigo_detail' primeira_noticia.tipo_artigo primeira_noticia.slug %}"
                                                    class="f1-m-3 cl2 hov-cl10 trans-03">
                                                    {{ primeira_noticia.titulo }}
                                                </a>
                                            </h5>

                                            <span class="cl8">
                                                {% if primeira_noticia.categoria %}
                                                    {% if primeira_noticia.tipo_artigo == 'artigos' %}
                                                    <a href="{% url 'artigos:artigo_list' %}?categoria={{ primeira_noticia.categoria.slug }}" class="f1-s-4 cl8 hov-cl10 trans-03">
                                                    {% elif primeiro_clima.tipo_artigo == 'cursos' %}
                                                    <a href="{% url 'artigos:curso_list' %}?categoria={{ primeira_noticia.categoria.slug }}" class="f1-s-4 cl8 hov-cl10 trans-03"></a>
                                                    {% elif primeira_noticia.tipo_artigo == 'noticias' %}
                                                    <a href="{% url 'artigos:noticia_list' %}?categoria={{ primeira_noticia.categoria.slug }}" class="f1-s-4 cl8 hov-cl10 trans-03"></a>
                                                    {% else %}
                                                    <a href="{% url 'artigos:clima_list' %}?categoria={{ primeira_noticia.categoria.slug }}" class="f1-s-4 cl8 hov-cl10 trans-03"></a>
                                                    {% endif %}
                                                        {{ primeira_noticia.categoria }}
                                                    </a>
                                                {% endif %}

                                                <span class="f1-s-3 m-rl-3">
                                                    {{ primeira_noticia.autor }}
                                                </span>

                                                <span class="f1-s-3">
                                                    {{ primeira_noticia.data_publicacao|date:'d/m/Y' }}
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6 p-r-25 p-r-15-sr991">
                                    <!-- Item post -->
                                    {% for noticia in view.noticias %}
                                    <div class="flex-wr-sb-s m-b-30">
                                        <div class="size-w-1 wrap-pic-w hov1 trans-03">
                                            {% if noticia.foto %}
                                            <img src="{{ noticia.foto.url }}" alt="IMG">
                                            {% else %}
                                            <img src="{{ STATIC_URL }}vendor/img/sindicatos/post-11.jpg" alt="IMG">
                                            {% endif %}
                                        </div>

                                        <div class="size-w-2">
                                            <h5 class="p-b-5">
                                                <a href="{% url 'artigos:artigo_detail' noticia.tipo_artigo noticia.slug %}"
                                                    class="f1-s-5 cl3 hov-cl10 trans-03">
                                                    {{ noticia.titulo }}
                                                </a>
                                            </h5>

                                            <span class="cl8">
                                                <a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
                                                    {% if noticia.categoria %}
                                                        {% if noticia.tipo_artigo == 'artigos' %}
                                                        <a href="{% url 'artigos:artigo_list' %}?categoria={{ noticia.categoria.slug }}" class="f1-s-4 cl8 hov-cl10 trans-03">
                                                        {% elif noticia.tipo_artigo == 'cursos' %}
                                                        <a href="{% url 'artigos:curso_list' %}?categoria={{ noticia.categoria.slug }}" class="f1-s-4 cl8 hov-cl10 trans-03"></a>
                                                        {% elif noticia.tipo_artigo == 'noticias' %}
                                                        <a href="{% url 'artigos:noticia_list' %}?categoria={{ noticia.categoria.slug }}" class="f1-s-4 cl8 hov-cl10 trans-03"></a>
                                                        {% else %}
                                                        <a href="{% url 'artigos:clima_list' %}?categoria={{ noticia.categoria.slug }}" class="f1-s-4 cl8 hov-cl10 trans-03"></a>
                                                        {% endif %}
                                                            {{ noticia.categoria }}
                                                        </a>
                                                    {% endif %}
                                                </a>

                                                <span class="f1-s-3 m-rl-3">
                                                    {{ noticia.autor }}
                                                </span>

                                                <span class="f1-s-3">
                                                    {{ noticia.data_publicacao|date:'d/m/Y' }}
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endwith %}
                </div>

                <!-- Course -->
                <div class="tab01 p-b-20">
                    <div class="tab01-head how2 how2-cl3 bocl12 flex-s-c m-r-10 m-r-0-sr991">
                        <!-- Brand tab -->
                        <h3 class="f1-m-2 cl14 tab01-title">
                            CURSOS
                        </h3>
                    </div>

                    {% with primeiro_curso=view.primeiro_curso %}
                    {% if primeiro_curso %}
                    <div class="tab-content p-t-35">
                        <!-- - -->
                        <div class="tab-pane fade show active" id="tab2-1" role="tabpanel">
                            <div class="row">
                                <div class="col-sm-6 p-r-25 p-r-15-sr991">
                                    <!-- Item post -->
                                    <div class="m-b-30">
                                        <div class="wrap-pic-w hov1 trans-03">
                                            {% if primeiro_curso.foto %}
                                            <img src="{{ primeiro_curso.foto.url }}" alt="IMG">
                                            {% else %}
                                            <img src="{{ STATIC_URL }}vendor/img/sindicatos/post-10.jpg" alt="IMG">
                                            {% endif %}
                                        </div>

                                        <div class="p-t-20">
                                            <h5 class="p-b-5">
                                                <a href="{% url 'artigos:artigo_detail' primeiro_curso.tipo_artigo primeiro_curso.slug %}"
                                                    class="f1-m-3 cl2 hov-cl10 trans-03">
                                                    {{ primeiro_curso.titulo }}
                                                </a>
                                            </h5>

                                            <span class="cl8">
                                                {% if primeiro_curso.categoria %}
                                                    {% if primeiro_curso.tipo_artigo == 'artigos' %}
                                                    <a href="{% url 'artigos:artigo_list' %}?categoria={{ primeiro_curso.categoria.slug }}" class="f1-s-4 cl8 hov-cl10 trans-03">
                                                    {% elif primeiro_curso.tipo_artigo == 'cursos' %}
                                                    <a href="{% url 'artigos:curso_list' %}?categoria={{ primeiro_curso.categoria.slug }}" class="f1-s-4 cl8 hov-cl10 trans-03"></a>
                                                    {% elif primeiro_curso.tipo_artigo == 'noticias' %}
                                                    <a href="{% url 'artigos:noticia_list' %}?categoria={{ primeiro_curso.categoria.slug }}" class="f1-s-4 cl8 hov-cl10 trans-03"></a>
                                                    {% else %}
                                                    <a href="{% url 'artigos:clima_list' %}?categoria={{ primeiro_curso.categoria.slug }}" class="f1-s-4 cl8 hov-cl10 trans-03"></a>
                                                    {% endif %}
                                                        {{ primeiro_curso.categoria }}
                                                    </a>
                                                {% endif %}

                                                <span class="f1-s-3 m-rl-3">
                                                    {{ primeiro_curso.autor }}
                                                </span>

                                                <span class="f1-s-3">
                                                    {{ primeiro_curso.data_publicacao|date:'d/m/Y' }}
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6 p-r-25 p-r-15-sr991">
                                    <!-- Item post -->
                                    {% for curso in view.cursos %}
                                    <div class="flex-wr-sb-s m-b-30">
                                        <div class="size-w-1 wrap-pic-w hov1 trans-03">
                                            {% if curso.foto %}
                                            <img src="{{ curso.foto.url }}" alt="IMG">
                                            {% else %}
                                            <img src="{{ STATIC_URL }}vendor/img/sindicatos/post-11.jpg" alt="IMG">
                                            {% endif %}
                                        </div>

                                        <div class="size-w-2">
                                            <h5 class="p-b-5">
                                                <a href="{% url 'artigos:artigo_detail' curso.tipo_artigo curso.slug %}"
                                                    class="f1-s-5 cl3 hov-cl10 trans-03">
                                                    {{ curso.titulo }}
                                                </a>
                                            </h5>

                                            <span class="cl8">
                                                <a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
                                                    {% if curso.categoria %}
                                                        {% if curso.tipo_artigo == 'artigos' %}
                                                        <a href="{% url 'artigos:artigo_list' %}?categoria={{ curso.categoria.slug }}" class="f1-s-4 cl8 hov-cl10 trans-03">
                                                        {% elif curso.tipo_artigo == 'cursos' %}
                                                        <a href="{% url 'artigos:curso_list' %}?categoria={{ curso.categoria.slug }}" class="f1-s-4 cl8 hov-cl10 trans-03"></a>
                                                        {% elif curso.tipo_artigo == 'noticias' %}
                                                        <a href="{% url 'artigos:noticia_list' %}?categoria={{ curso.categoria.slug }}" class="f1-s-4 cl8 hov-cl10 trans-03"></a>
                                                        {% else %}
                                                        <a href="{% url 'artigos:clima_list' %}?categoria={{ curso.categoria.slug }}" class="f1-s-4 cl8 hov-cl10 trans-03"></a>
                                                        {% endif %}
                                                            {{ curso.categoria }}
                                                        </a>
                                                    {% endif %}
                                                </a>

                                                <span class="f1-s-3 m-rl-3">
                                                    {{ curso.autor }}
                                                </span>

                                                <span class="f1-s-3">
                                                    {{ curso.data_publicacao|date:'d/m/Y' }}
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endwith %}
                </div>
            </div>
        </div>

        <div class="col-md-10 col-lg-4">
            <div class="p-l-10 p-rl-0-sr991 p-b-20">
                <!--  -->
                <div>
                    <div class="how2 how2-cl4 flex-s-c">
                        <h3 class="f1-m-2 cl3 tab01-title">
                            Mais Populares
                        </h3>
                    </div>

                    <ul class="p-t-35">
                        {% for artigo in view.artigos_populares|slice:':5' %}
                        <li class="flex-wr-sb-s p-b-22">
                            <div class="size-a-8 flex-c-c borad-3 size-a-8 bg9 f1-m-4 cl0 m-b-6">
                                {{ forloop.counter }}
                            </div>
                            <a href="{% url 'artigos:artigo_detail' artigo.tipo_artigo artigo.slug %}" class="size-w-3 f1-s-7 cl3 hov-cl10 trans-03">
                                {{ artigo.titulo }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

                <!--  -->
                <div class="flex-c-s p-t-8">
                    <a href="#">
                        <img class="max-w-full" src="{{ STATIC_URL }}vendor/img/sindicatos/banner-02.jpg" alt="IMG">
                    </a>
                </div>

                <div class="flex-c-s p-t-8">
                    <a href="#">
                        <img class="max-w-full" src="{{ STATIC_URL }}vendor/img/sindicatos/banner-04.jpg" alt="IMG">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>