{% extends "sindicatos/base.html" %}

{% block container %}
<!-- Posts Section Starts-->
<section class="blog-posts grid-system">
    <div>
        <div class="row">
            <!-- Posts Starts -->
            <div class="col-lg-8">
                <div class="all-blog-posts">
                    <div class="row">
                        {% for artigo in object_list %}
                        <div class="col-lg-6">
                            <div class="blog-post">
                                <div class="down-content">
                                    <a href="{% url 'artigos:artigo_detail' artigo.tipo_artigo artigo.slug %}">
                                        <h4>{{ artigo.titulo }}</h4>
                                    </a>
                                    <ul class="post-info">
                                        <li>{{ artigo.autor }}</li>
                                        <li>{{ artigo.data_publicacao|date:'d/m/Y' }}</li>
                                    </ul>
                                    {{ artigo.resumo|linebreaks }}

                                    <a href="{% url 'sindicatos:artigo_update' artigo.pk %}" class="f1-s-1 cl9 hov-cl10 trans-03">
                                        <i class="m-l-2 fas fa-edit"></i>
                                        EDITAR &emsp;
                                    </a>
                                    <a class="btn btn-primary" data-bs-toggle="modal" href="#deleteModalToggle{{ artigo.pk|safe }}"
                                        role="button">
                                        <i class="m-l-2 fas fa-trash"></i>
                                        EXCLUIR
                                    </a>
                                    <div class="modal fade" id="deleteModalToggle{{ artigo.pk|safe }}" aria-hidden="true" aria-labelledby="deleteModalToggleLabel" tabindex="-1">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h3 class="modal-title" id="deleteModalToggleLabel">EXCLUIR PUBLICAÇÃO</h3>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    Você tem certeza que deseja excluir esta publicação?
                                                </div>
                                                <div class="modal-footer">
                                                    <form action="{% url 'sindicatos:artigo_delete' artigo.pk %}" method="post" class="form-delete-article">
                                                        {% csrf_token %}
                                                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close">CANCELAR</button>
                                                        <button type="submit" class="btn btn-secondary">CONFIRMAR</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="col-lg-12">
                            {% include "includes/paginacao.html" %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- Posts End -->

            <!-- Options Starts -->
            <div class="col-lg-4">
                <div class="sidebar">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="sidebar-item search">
                                <form id="search_form" name="gs" method="GET" action="#">
                                    <input type="text" name="q" class="searchText" placeholder="Pesquisar"
                                        autocomplete="on">
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="sidebar-item recent-posts">
                                <div class="sidebar-heading">
                                    <h2>Notícias Recentes</h2>
                                </div>
                                <div class="content">
                                    <ul>
                                        {% for artigo in view.artigos_recentes %}
                                        <li>
                                            <a href="{% url 'artigos:artigo_detail' artigo.tipo_artigo artigo.slug %}">
                                                <h5>{{ artigo.titulo }}</h5>
                                                <span>{{ artigo.data_publicacao|date:'d/m/Y' }}</span>
                                            </a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="sidebar-item tags">
                                <div class="sidebar-heading">
                                    <h2>Marcadores</h2>
                                </div>
                                <div class="content">
                                    <ul>
                                        {% for tag in view.tags %}
                                        <li><a href="#">Pecuária</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Options Ends -->
        </div>
    </div>
</section>
</br>
<!-- Posts Section Ends-->
<!-- Call to Action Start -->
<div class="container-xxl py-5">
    <!-- Carousel -->
    <div id="demo" class="carousel slide" data-bs-ride="carousel">
        <!-- Indicators/dots -->
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
        </div>
        <!-- The slideshow/carousel -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ STATIC_URL }}vendor/img/anuncios/Anuncio-Credito.png" alt="" class="d-block" style="width:100%">
            </div>
            <div class="carousel-item">
                <img src="{{ STATIC_URL }}vendor/img/anuncios/Anuncio-Mapeamento.png" alt="" class="d-block"
                    style="width:100%">
            </div>
            <div class="carousel-item">
                <img src="{{ STATIC_URL }}vendor/img/anuncios/Anuncio-Juridico.png" alt="" class="d-block"
                    style="width:100%">
            </div>
            <div class="carousel-item">
                <img src="{{ STATIC_URL }}vendor/img/anuncios/Anuncio-Monitoramento.png" alt="" class="d-block"
                    style="width:100%">
            </div>
        </div>
    </div>
</div>
<!-- Call to Action End -->
{% endblock %}

{% block extra_js %}
<script>
$(function(){
    $('.form-delete-article').on('submit', function(e){
        e.preventDefault()
        let $form = $(this)
        $.ajax({
            url: $form.prop('action'),
            method: 'POST',
            data: $form.serialize(),
            success: function() {
                $("#confirmModalToggle").modal('show')
                $form.closest('.article-box').remove()
            }
        })
    })
})
</script>
{% endblock %}
