{% extends "sindicatos/base.html" %}

{% load bootstrap5 %}

{% block css %}
<style>
.django-ckeditor-widget {
    max-width: 600px;
}
</style>
{% endblock %}

{% block container %}
<div class="container p-t-4 p-b-40">
    <h2 class="f1-l-1 cl2">
        {{ object|default:'Nova Publicação' }}
    </h2>
</div>
<!-- Content -->
<section class="bg0 p-b-60">
    <div>
        <div class="row">
            <div class="col-md-8 p-b-80">
                <div class="p-r-10 p-r-0-sr991">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                {% bootstrap_field form.titulo %}
                            </div>
                            <div class="col-12">
                                {% bootstrap_field form.categoria %}
                            </div>
                            <div class="col-12">
                                {% bootstrap_field form.tipo_artigo %}
                            </div>
                            <div class="col-12">
                                {% bootstrap_field form.data_publicacao %}
                            </div>
                            <div class="col-12">
                                {% bootstrap_field form.autor %}
                            </div>
                            <div class="col-12">
                                {% bootstrap_field form.tags %}
                            </div>
                            <div class="col-12">
                                {% bootstrap_field form.resumo %}
                            </div>
                            <div class="col-12">
                                {% bootstrap_field form.foto %}
                                <div class="text-center">
                                    <img class="img-fluid" id="photo_placeholder" {% if object and object.photo %}src="{{ object.photo.url }}"{% else %}src="{{ STATIC_URL }}img/1.jpg"{% endif %} alt="" />
                                </div>
                            </div>
                            <div class="col-12">
                                {% bootstrap_field form.texto %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 d-grid g2">
                                <button class="btn btn-primary" type="submit">
                                    <strong>Publicar</strong>
                                </button>
                            </div>
                            <div class="col-lg-6 d-grid g2">
                                <a class="btn btn-block" href="{% url 'sindicatos:artigo_list' %}">Voltar</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-4">
                {% include "sindicatos/includes/sidebar.html" %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block extra_js %}
{{ form.media }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
<script>
$(function(){
    $("#id_data_publicacao").mask("00/00/0000")
    let imgInput = document.getElementById('id_foto')
    let imgPlacerholder = document.getElementById('photo_placeholder')
    imgInput.onchange = evt => {
        const [file] = imgInput.files
        if (file) {
            imgPlacerholder.src = URL.createObjectURL(file)
            imgPlacerholder.style = 'display: block;max-height:200px;'
        }
    }
})
</script>
{% endblock %}