{% extends 'sindicatos/base.html' %}

{% block main %}
<!-- Post -->
<section class="bg0 p-t-70">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-12">
                <div class="p-b-20">
                    <!-- Maps -->
                    <div class="tab01 p-b-20">
                        <div class="tab01-head how2 how2-cl3 bocl12 flex-s-c m-r-10 m-r-0-sr991">
                            <!-- Brand tab -->
                            <h3 class="f1-m-2 cl14 tab01-title">
                                MAPAS
                            </h3>
                            <ul class="main-menu">
                                <li class="main-menu">
                                    <a href="#">Imóveis Cadastrados</a>
                                </li>
                            </ul>

                            <ul class="main-menu">
                                <li class="main-menu">
                                    <a href="#">Clima</a>
                                    <ul class="sub-menu">
                                        <li><a href="#">Hoje</a></li>
                                        <li><a href="#">30 dias</a></li>
                                        <li><a href="#">60 dias</a></li>
                                        <li><a href="#">80 dias</a></li>
                                    </ul>
                                </li>
                            </ul>

                            <ul class="main-menu">
                                <li class="main-menu">
                                    <a href="#">Geadas</a>
                                    <ul class="sub-menu">
                                        <li><a href="#">Hoje</a></li>
                                        <li><a href="#">30 dias</a></li>
                                        <li><a href="#">60 dias</a></li>
                                        <li><a href="#">80 dias</a></li>
                                    </ul>
                                </li>
                            </ul>

                            <ul class="main-menu">
                                <li class="main-menu">
                                    <a href="#">Raios</a>
                                    <ul class="sub-menu">
                                        <li><a href="#">Hoje</a></li>
                                        <li><a href="#">30 dias</a></li>
                                        <li><a href="#">60 dias</a></li>
                                        <li><a href="#">80 dias</a></li>
                                    </ul>
                                </li>
                            </ul>

                            <ul class="main-menu">
                                <li class="main-menu">
                                    <a href="#">Queimadas</a>
                                    <ul class="sub-menu">
                                        <li><a href="#">Hoje</a></li>
                                        <li><a href="#">30 dias</a></li>
                                        <li><a href="#">60 dias</a></li>
                                        <li><a href="#">80 dias</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>


                        <!-- Tab panes -->
                        <div class="tab-content p-t-35">
                            <!-- - -->
                            <div class="tab-pane fade show active" id="tab3-1" role="tabpanel">
                                <div class="row">
                                    <div class="col-sm-12 p-r-25 p-r-15-sr991">
                                        <!-- Item post -->
                                        <div class="m-b-30">
                                            <a href="detalhamento.html" class="wrap-pic-w hov1 trans-03">
                                                <img src="{{ STATIC_URL }}sindicatos/images/post-00.jpg" alt="IMG">
                                            </a>

                                            <div class="p-t-20">
                                                <h5 class="p-b-5">
                                                    <a href="detalhamento.html" class="f1-m-3 cl2 hov-cl10 trans-03">
                                                        Título da Publicação
                                                    </a>
                                                </h5>

                                                <span class="cl8">
                                                    <a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
                                                        Lorem
                                                    </a>

                                                    <span class="f1-s-3 m-rl-3">
                                                        -
                                                    </span>

                                                    <span class="f1-s-3">
                                                        DD/MM/AAAA
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- - -->
                            <div class="tab-pane fade" id="tab3-2" role="tabpanel">
                                <div class="row">
                                    <div class="col-sm-6 p-r-25 p-r-15-sr991">
                                        <!-- Item post -->
                                        <div class="m-b-30">
                                            <a href="detalhamento.html" class="wrap-pic-w hov1 trans-03">
                                                <img src="{{ STATIC_URL }}sindicatos/images/post-15.jpg" alt="IMG">
                                            </a>

                                            <div class="p-t-20">
                                                <h5 class="p-b-5">
                                                    <a href="detalhamento.html" class="f1-m-3 cl2 hov-cl10 trans-03">
                                                        Título da Publicação
                                                    </a>
                                                </h5>

                                                <span class="cl8">
                                                    <a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
                                                        Lorem
                                                    </a>

                                                    <span class="f1-s-3 m-rl-3">
                                                        -
                                                    </span>

                                                    <span class="f1-s-3">
                                                        DD/MM/AAAA
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 p-r-25 p-r-15-sr991">
                                        <!-- Item post -->
                                        <div class="flex-wr-sb-s m-b-30">
                                            <a href="detalhamento.html" class="size-w-1 wrap-pic-w hov1 trans-03">
                                                <img src="{{ STATIC_URL }}sindicatos/images/post-16.jpg" alt="IMG">
                                            </a>

                                            <div class="size-w-2">
                                                <h5 class="p-b-5">
                                                    <a href="detalhamento.html" class="f1-s-5 cl3 hov-cl10 trans-03">
                                                        Título da Publicação
                                                    </a>
                                                </h5>

                                                <span class="cl8">
                                                    <a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
                                                        Lorem
                                                    </a>

                                                    <span class="f1-s-3 m-rl-3">
                                                        -
                                                    </span>

                                                    <span class="f1-s-3">
                                                        DD/MM/AAAA
                                                    </span>
                                                </span>
                                            </div>
                                        </div>

                                        <!-- Item post -->
                                        <div class="flex-wr-sb-s m-b-30">
                                            <a href="detalhamento.html" class="size-w-1 wrap-pic-w hov1 trans-03">
                                                <img src="{{ STATIC_URL }}sindicatos/images/post-17.jpg" alt="IMG">
                                            </a>

                                            <div class="size-w-2">
                                                <h5 class="p-b-5">
                                                    <a href="detalhamento.html" class="f1-s-5 cl3 hov-cl10 trans-03">
                                                        Título da Publicação
                                                    </a>
                                                </h5>

                                                <span class="cl8">
                                                    <a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
                                                        Lorem
                                                    </a>

                                                    <span class="f1-s-3 m-rl-3">
                                                        -
                                                    </span>

                                                    <span class="f1-s-3">
                                                        DD/MM/AAAA
                                                    </span>
                                                </span>
                                            </div>
                                        </div>

                                        <!-- Item post -->
                                        <div class="flex-wr-sb-s m-b-30">
                                            <a href="detalhamento.html" class="size-w-1 wrap-pic-w hov1 trans-03">
                                                <img src="{{ STATIC_URL }}sindicatos/images/post-18.jpg" alt="IMG">
                                            </a>

                                            <div class="size-w-2">
                                                <h5 class="p-b-5">
                                                    <a href="detalhamento.html" class="f1-s-5 cl3 hov-cl10 trans-03">
                                                        Título da Publicação
                                                    </a>
                                                </h5>

                                                <span class="cl8">
                                                    <a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
                                                        Lorem
                                                    </a>

                                                    <span class="f1-s-3 m-rl-3">
                                                        -
                                                    </span>

                                                    <span class="f1-s-3">
                                                        DD/MM/AAAA
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- - -->
                            <div class="tab-pane fade" id="tab3-3" role="tabpanel">
                                <div class="row">
                                    <div class="col-sm-6 p-r-25 p-r-15-sr991">
                                        <!-- Item post -->
                                        <div class="m-b-30">
                                            <a href="detalhamento.html" class="wrap-pic-w hov1 trans-03">
                                                <img src="{{ STATIC_URL }}sindicatos/images/post-16.jpg" alt="IMG">
                                            </a>

                                            <div class="p-t-20">
                                                <h5 class="p-b-5">
                                                    <a href="detalhamento.html" class="f1-m-3 cl2 hov-cl10 trans-03">
                                                        Título da Publicação
                                                    </a>
                                                </h5>

                                                <span class="cl8">
                                                    <a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
                                                        Lorem
                                                    </a>

                                                    <span class="f1-s-3 m-rl-3">
                                                        -
                                                    </span>

                                                    <span class="f1-s-3">
                                                        DD/MM/AAAA
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 p-r-25 p-r-15-sr991">
                                        <!-- Item post -->
                                        <div class="flex-wr-sb-s m-b-30">
                                            <a href="detalhamento.html" class="size-w-1 wrap-pic-w hov1 trans-03">
                                                <img src="{{ STATIC_URL }}sindicatos/images/post-17.jpg" alt="IMG">
                                            </a>

                                            <div class="size-w-2">
                                                <h5 class="p-b-5">
                                                    <a href="detalhamento.html" class="f1-s-5 cl3 hov-cl10 trans-03">
                                                        Título da Publicação
                                                    </a>
                                                </h5>

                                                <span class="cl8">
                                                    <a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
                                                        Lorem
                                                    </a>

                                                    <span class="f1-s-3 m-rl-3">
                                                        -
                                                    </span>

                                                    <span class="f1-s-3">
                                                        DD/MM/AAAA
                                                    </span>
                                                </span>
                                            </div>
                                        </div>

                                        <!-- Item post -->
                                        <div class="flex-wr-sb-s m-b-30">
                                            <a href="detalhamento.html" class="size-w-1 wrap-pic-w hov1 trans-03">
                                                <img src="{{ STATIC_URL }}sindicatos/images/post-18.jpg" alt="IMG">
                                            </a>

                                            <div class="size-w-2">
                                                <h5 class="p-b-5">
                                                    <a href="detalhamento.html" class="f1-s-5 cl3 hov-cl10 trans-03">
                                                        Título da Publicação
                                                    </a>
                                                </h5>

                                                <span class="cl8">
                                                    <a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
                                                        Lorem
                                                    </a>

                                                    <span class="f1-s-3 m-rl-3">
                                                        -
                                                    </span>

                                                    <span class="f1-s-3">
                                                        DD/MM/AAAA
                                                    </span>
                                                </span>
                                            </div>
                                        </div>

                                        <!-- Item post -->
                                        <div class="flex-wr-sb-s m-b-30">
                                            <a href="detalhamento.html" class="size-w-1 wrap-pic-w hov1 trans-03">
                                                <img src="{{ STATIC_URL }}sindicatos/images/post-14.jpg" alt="IMG">
                                            </a>

                                            <div class="size-w-2">
                                                <h5 class="p-b-5">
                                                    <a href="detalhamento.html" class="f1-s-5 cl3 hov-cl10 trans-03">
                                                        Título da Publicação
                                                    </a>
                                                </h5>

                                                <span class="cl8">
                                                    <a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
                                                        Lorem
                                                    </a>

                                                    <span class="f1-s-3 m-rl-3">
                                                        -
                                                    </span>

                                                    <span class="f1-s-3">
                                                        DD/MM/AAAA
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- - -->
                            <div class="tab-pane fade" id="tab3-4" role="tabpanel">
                                <div class="row">
                                    <div class="col-sm-6 p-r-25 p-r-15-sr991">
                                        <!-- Item post -->
                                        <div class="m-b-30">
                                            <a href="detalhamento.html" class="wrap-pic-w hov1 trans-03">
                                                <img src="{{ STATIC_URL }}sindicatos/images/post-17.jpg" alt="IMG">
                                            </a>

                                            <div class="p-t-20">
                                                <h5 class="p-b-5">
                                                    <a href="detalhamento.html" class="f1-m-3 cl2 hov-cl10 trans-03">
                                                        Título da Publicação
                                                    </a>
                                                </h5>

                                                <span class="cl8">
                                                    <a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
                                                        Lorem
                                                    </a>

                                                    <span class="f1-s-3 m-rl-3">
                                                        -
                                                    </span>

                                                    <span class="f1-s-3">
                                                        DD/MM/AAAA
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 p-r-25 p-r-15-sr991">
                                        <!-- Item post -->
                                        <div class="flex-wr-sb-s m-b-30">
                                            <a href="detalhamento.html" class="size-w-1 wrap-pic-w hov1 trans-03">
                                                <img src="{{ STATIC_URL }}sindicatos/images/post-18.jpg" alt="IMG">
                                            </a>

                                            <div class="size-w-2">
                                                <h5 class="p-b-5">
                                                    <a href="detalhamento.html" class="f1-s-5 cl3 hov-cl10 trans-03">
                                                        Título da Publicação
                                                    </a>
                                                </h5>

                                                <span class="cl8">
                                                    <a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
                                                        Lorem
                                                    </a>

                                                    <span class="f1-s-3 m-rl-3">
                                                        -
                                                    </span>

                                                    <span class="f1-s-3">
                                                        DD/MM/AAAA
                                                    </span>
                                                </span>
                                            </div>
                                        </div>

                                        <!-- Item post -->
                                        <div class="flex-wr-sb-s m-b-30">
                                            <a href="detalhamento.html" class="size-w-1 wrap-pic-w hov1 trans-03">
                                                <img src="{{ STATIC_URL }}sindicatos/images/post-14.jpg" alt="IMG">
                                            </a>

                                            <div class="size-w-2">
                                                <h5 class="p-b-5">
                                                    <a href="detalhamento.html" class="f1-s-5 cl3 hov-cl10 trans-03">
                                                        Título da Publicação
                                                    </a>
                                                </h5>

                                                <span class="cl8">
                                                    <a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
                                                        Lorem
                                                    </a>

                                                    <span class="f1-s-3 m-rl-3">
                                                        -
                                                    </span>

                                                    <span class="f1-s-3">
                                                        DD/MM/AAAA
                                                    </span>
                                                </span>
                                            </div>
                                        </div>

                                        <!-- Item post -->
                                        <div class="flex-wr-sb-s m-b-30">
                                            <a href="detalhamento.html" class="size-w-1 wrap-pic-w hov1 trans-03">
                                                <img src="{{ STATIC_URL }}sindicatos/images/post-15.jpg" alt="IMG">
                                            </a>

                                            <div class="size-w-2">
                                                <h5 class="p-b-5">
                                                    <a href="detalhamento.html" class="f1-s-5 cl3 hov-cl10 trans-03">
                                                        Título da Publicação
                                                    </a>
                                                </h5>

                                                <span class="cl8">
                                                    <a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
                                                        Lorem
                                                    </a>

                                                    <span class="f1-s-3 m-rl-3">
                                                        -
                                                    </span>

                                                    <span class="f1-s-3">
                                                        DD/MM/AAAA
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- - -->
                            <div class="tab-pane fade" id="tab3-5" role="tabpanel">
                                <div class="row">
                                    <div class="col-sm-6 p-r-25 p-r-15-sr991">
                                        <!-- Item post -->
                                        <div class="m-b-30">
                                            <a href="detalhamento.html" class="wrap-pic-w hov1 trans-03">
                                                <img src="{{ STATIC_URL }}sindicatos/images/post-18.jpg" alt="IMG">
                                            </a>

                                            <div class="p-t-20">
                                                <h5 class="p-b-5">
                                                    <a href="detalhamento.html" class="f1-m-3 cl2 hov-cl10 trans-03">
                                                        Título da Publicação
                                                    </a>
                                                </h5>

                                                <span class="cl8">
                                                    <a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
                                                        Lorem
                                                    </a>

                                                    <span class="f1-s-3 m-rl-3">
                                                        -
                                                    </span>

                                                    <span class="f1-s-3">
                                                        DD/MM/AAAA
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 p-r-25 p-r-15-sr991">
                                        <!-- Item post -->
                                        <div class="flex-wr-sb-s m-b-30">
                                            <a href="detalhamento.html" class="size-w-1 wrap-pic-w hov1 trans-03">
                                                <img src="{{ STATIC_URL }}sindicatos/images/post-17.jpg" alt="IMG">
                                            </a>

                                            <div class="size-w-2">
                                                <h5 class="p-b-5">
                                                    <a href="detalhamento.html" class="f1-s-5 cl3 hov-cl10 trans-03">
                                                        Título da Publicação
                                                    </a>
                                                </h5>

                                                <span class="cl8">
                                                    <a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
                                                        Lorem
                                                    </a>

                                                    <span class="f1-s-3 m-rl-3">
                                                        -
                                                    </span>

                                                    <span class="f1-s-3">
                                                        DD/MM/AAAA
                                                    </span>
                                                </span>
                                            </div>
                                        </div>

                                        <!-- Item post -->
                                        <div class="flex-wr-sb-s m-b-30">
                                            <a href="detalhamento.html" class="size-w-1 wrap-pic-w hov1 trans-03">
                                                <img src="{{ STATIC_URL }}sindicatos/images/post-16.jpg" alt="IMG">
                                            </a>

                                            <div class="size-w-2">
                                                <h5 class="p-b-5">
                                                    <a href="detalhamento.html" class="f1-s-5 cl3 hov-cl10 trans-03">
                                                        Título da Publicação
                                                    </a>
                                                </h5>

                                                <span class="cl8">
                                                    <a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
                                                        Lorem
                                                    </a>

                                                    <span class="f1-s-3 m-rl-3">
                                                        -
                                                    </span>

                                                    <span class="f1-s-3">
                                                        DD/MM/AAAA
                                                    </span>
                                                </span>
                                            </div>
                                        </div>

                                        <!-- Item post -->
                                        <div class="flex-wr-sb-s m-b-30">
                                            <a href="detalhamento.html" class="size-w-1 wrap-pic-w hov1 trans-03">
                                                <img src="{{ STATIC_URL }}sindicatos/images/post-15.jpg" alt="IMG">
                                            </a>

                                            <div class="size-w-2">
                                                <h5 class="p-b-5">
                                                    <a href="detalhamento.html" class="f1-s-5 cl3 hov-cl10 trans-03">
                                                        Título da Publicação
                                                    </a>
                                                </h5>

                                                <span class="cl8">
                                                    <a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
                                                        Lorem
                                                    </a>

                                                    <span class="f1-s-3 m-rl-3">
                                                        -
                                                    </span>

                                                    <span class="f1-s-3">
                                                        DD/MM/AAAA
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Latest -->
<section class="bg0 p-t-60 p-b-35">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8 p-b-20">
                <div class="how2 how2-cl4 flex-s-c m-r-10 m-r-0-sr991">
                    <h3 class="f1-m-2 cl3 tab01-title">
                        Publicações Mais Recentes
                    </h3>
                </div>

                <div class="row p-t-35">
                    {% for article in view.recent_artigos|slice:':4' %}
                    <div class="col-sm-6 p-r-25 p-r-15-sr991">
                        <!-- Item latest -->
                        <div class="m-b-45">
                            <a href="" class="wrap-pic-w hov1 trans-03">
                                <img {% if article.photo %}src="{{ article.photo.url }}"{% else %}src="{{ STATIC_URL }}img/1.jpg"{% endif %} alt="IMG">
                            </a>

                            <div class="p-t-16">
                                <h5 class="p-b-5">
                                    <a href="{% url 'artigos:artigo_detail' article.category.slug article.slug %}" class="f1-m-3 cl2 hov-cl10 trans-03">
                                        {{ article.title }}
                                    </a>
                                </h5>

                                <span class="cl8">
                                    <a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
                                        {{ article.author }}
                                    </a>

                                    <span class="f1-s-3 m-rl-3">
                                        -
                                    </span>

                                    <span class="f1-s-3">
                                        {{ article.data_publicacao|date:'d/m/Y' }}
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="col-md-10 col-lg-4">
                <div class="p-l-10 p-rl-0-sr991 p-b-20">
                    <!-- Video -->
                    <div>
                        <div class="how2 how2-cl4 flex-s-c">
                            <h3 class="f1-m-2 cl3 tab01-title">
                                Mais Populares
                            </h3>
                        </div>

                        <ul class="p-t-35">
                            {% for article in view.popular_artigos|slice:':4' %}
                            <li class="flex-wr-sb-s p-b-22">
                                <div class="size-a-8 flex-c-c borad-3 size-a-8 bg9 f1-m-4 cl0 m-b-6">
                                    {{ forloop.counter }}
                                </div>
                                <a href="{% url 'artigos:artigo_detail' article.category.slug article.slug %}" class="size-w-3 f1-s-7 cl3 hov-cl10 trans-03">
                                    {{ article.title }}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <!-- Tag -->
                    <div class="p-b-55">
                        <div class="how2 how2-cl4 flex-s-c m-b-30">
                            <h3 class="f1-m-2 cl3 tab01-title">
                                MARCADORES
                            </h3>
                        </div>

                        <div class="flex-wr-s-s m-rl--5">
                            {% for tag in view.tags|slice:20 %}
                            <a href="#" class="flex-c-c size-h-2 bo-1-rad-20 bocl12 f1-s-1 cl8 hov-btn2 trans-03 p-rl-20 p-tb-5 m-all-5">
                                {{ tag }}
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}