{% extends 'sindicatos/base.html' %}

{% block container %}
<div class="row">
    <div class="col-md-4">
        <a href="{% url 'sindicatos:artigo_create' %}" class="btn btn-primary px-3 d-none d-lg-flex float-start">Nova
            Publicação</a>
    </div>
    <div class="col-md-8">
        <a href="{% url 'sindicatos:artigo_list' %}" class="btn btn-primary px-3 d-none d-lg-flex float-end">Minhas
            Publicações</a>
    </div>
</div>

<!-- Search Start -->
<div id="busca" class="container-xxl py-5">
    <div class="row g-4">
        <div class="col-lg-2 col-sm-4 wow fadeInUp" data-wow-delay="0.1s">
            <a class="cat-item d-block bg-light text-center rounded p-3" data-bs-toggle="collapse"
                href="#collapsePropriedades" aria-expanded="false" aria-controls="collapsePropriedades">
                <div class="rounded p-2">
                    <div class="icon mb-3">
                        <img class="img-fluid" src="{{ STATIC_URL }}vendor/img/usuario/propriedades.png" alt="Icon">
                    </div>
                    <h6>Imóveis Cadastrados</h6>
                </div>
            </a>
        </div>
        <div class="col-lg-2 col-sm-4 wow fadeInUp" data-wow-delay="0.2s">
            <a class="cat-item d-block bg-light text-center rounded p-3" data-bs-toggle="collapse"
                href="#collapseReserva" aria-expanded="false" aria-controls="collapseReserva">
                <div class="rounded p-2">
                    <div class="icon mb-3">
                        <img class="img-fluid" src="{{ STATIC_URL }}vendor/img/usuario/previsao.png" alt="Icon">
                    </div>
                    <h6>Previsão</br>do Tempo</h6>
                </div>
            </a>
        </div>
        <div class="col-lg-2 col-sm-4 wow fadeInUp" data-wow-delay="0.3s">
            <a class="cat-item d-block bg-light text-center rounded p-3" data-bs-toggle="collapse"
                href="#collapseProdutos" aria-expanded="false" aria-controls="collapseProdutos">
                <div class="rounded p-2">
                    <div class="icon mb-3">
                        <img class="img-fluid" src="{{ STATIC_URL }}vendor/img/usuario/vento.png" alt="Icon">
                    </div>
                    <h6>Velocidade</br>do Vento</h6>
                </div>
            </a>
        </div>
        <div class="col-lg-2 col-sm-4 wow fadeInUp" data-wow-delay="0.4s">
            <a class="cat-item d-block bg-light text-center rounded p-3" data-bs-toggle="collapse"
                href="#collapseEquipamentos" aria-expanded="false" aria-controls="collapseEquipamentos">
                <div class="rounded p-2">
                    <div class="icon mb-3">
                        <img class="img-fluid" src="{{ STATIC_URL }}vendor/img/usuario/geada.png" alt="Icon">
                    </div>
                    <h6>Risco de</br>Geada</h6>
                </div>
            </a>
        </div>
        <div class="col-lg-2 col-sm-4 wow fadeInUp" data-wow-delay="0.5s">
            <a class="cat-item d-block bg-light text-center rounded p-3" data-bs-toggle="collapse"
                href="#collapseServicos" aria-expanded="false" aria-controls="collapseServicos">
                <div class="rounded p-2">
                    <div class="icon mb-3">
                        <img class="img-fluid" src="{{ STATIC_URL }}vendor/img/usuario/tempestade.png" alt="Icon">
                    </div>
                    <h6>Risco de Tempestade</h6>
                </div>
            </a>
        </div>
        <div class="col-lg-2 col-sm-4 wow fadeInUp" data-wow-delay="0.6s">
            <a class="cat-item d-block bg-light text-center rounded p-3" data-bs-toggle="collapse"
                href="#collapseDiversos" aria-expanded="false" aria-controls="collapseDiversos">
                <div class="rounded p-2">
                    <div class="icon mb-3">
                        <img class="img-fluid" src="{{ STATIC_URL }}vendor/img/usuario/fogo.png" alt="Icon">
                    </div>
                    <h6>Risco de</br>Incêncio</h6>
                </div>
            </a>
        </div>
    </div>
</div>
{% include "includes/mapa.html" %}
{% include "sindicatos/includes/publicacoes.html" %}
{% endblock %}