{% extends "syndicates/base.html" %}

{% block main %}
<section id="teste" class="bg0 p-b-55">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-8 p-b-80">
                <div class="p-r-10 p-r-0-sr991">
                    <div class="m-t--40 p-b-40">
                        {% for article in object_list %}
                        <!-- Item post -->
                        <div class="flex-wr-sb-s p-t-40 p-b-15 how-bor2 article-box">
                            <a href="{% url 'artigos:artigo_detail' article.category.slug article.slug %}" class="size-w-8 wrap-pic-w hov1 trans-03 w-full-sr575 m-b-25">
                                <img {% if article.photo %}src="{{ article.photo.url }}"{% else %}src="{{ STATIC_URL }}img/1.jpg"{% endif %} alt="IMG">
                            </a>

                            <div class="size-w-9 w-full-sr575 m-b-25">
                                <h5 class="p-b-12">
                                    <a href="{% url 'artigos:artigo_detail' article.category.slug article.slug %}" class="f1-l-1 cl2 hov-cl10 trans-03 respon2">
                                        {{ article.title }}
                                    </a>
                                </h5>

                                <div class="cl8 p-b-18">
                                    <a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
                                        {{ article.author }}
                                    </a>

                                    <span class="f1-s-3 m-rl-3">
                                        -
                                    </span>

                                    <span class="f1-s-3">
                                        {{ article.publish_date|date:'d/m/Y'|default:'--' }}
                                    </span>
                                </div>

                                <p class="f1-s-1 cl6 p-b-24">
                                    {{ article.text|striptags|truncatewords:'40' }}
                                </p>

                                <a href="{% url 'syndicates:article_update' article.pk %}" class="f1-s-1 cl9 hov-cl10 trans-03">
                                    <i class="m-l-2 fas fa-edit"></i>
                                    EDITAR &emsp;
                                </a>
                                <a class="btn btn-secondary" data-bs-toggle="modal" href="#deleteModalToggle" role="button">
                                    <i class="m-l-2 fas fa-trash"></i>
                                     EXCLUIR
                                </a>

                                <!--Modal Start-->
                                <div class="modal fade" id="deleteModalToggle" aria-hidden="true" aria-labelledby="deleteModalToggleLabel" tabindex="-1">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h3 class="modal-title" id="deleteModalToggleLabel">EXCLUIR PUBLICAÇÃO</h3>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                Você tem certeza que deseja excluir esta publicação?
                                            </div>
                                            <div class="modal-footer">
                                                <form action="{% url 'syndicates:article_delete' article.pk %}" method="post" class="form-delete-article">
                                                    {% csrf_token %}
                                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close">CANCELAR</button>
                                                    <button type="submit" class="btn btn-secondary">CONFIRMAR</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Modal End-->
                            </div>
                        </div>
                        {% empty %}
                        <p class="alert alert-info" style="margin-top: 30px;">
                            Nenhuma publicação encontrada
                        </p>
                        {% endfor %}
                        {% if object_list.exists %}
                        <a href="#" class="flex-c-c size-a-13 bo-all-1 bocl11 f1-m-6 cl6 hov-btn1 trans-03">
							Carregar Mais
						</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 p-b-80">
                <div class="p-l-10 p-rl-0-sr991">
                    <!-- Sidebar -->
                    <div>
                        <div class="how2 how2-cl4 flex-s-c">
                            <h3 class="f1-m-2 cl3 tab01-title">
                                Mais Populares
                            </h3>
                        </div>
                        <ul class="p-t-35">
                            <li class="flex-wr-sb-s p-b-22">
                                <div class="size-a-8 flex-c-c borad-3 size-a-8 bg9 f1-m-4 cl0 m-b-6">
                                    1
                                </div>

                                <a href="#" class="size-w-3 f1-s-7 cl3 hov-cl10 trans-03">
                                    Título da publicação
                                </a>
                            </li>

                            <li class="flex-wr-sb-s p-b-22">
                                <div class="size-a-8 flex-c-c borad-3 size-a-8 bg9 f1-m-4 cl0 m-b-6">
                                    2
                                </div>

                                <a href="#" class="size-w-3 f1-s-7 cl3 hov-cl10 trans-03">
                                    Título da publicação
                                </a>
                            </li>

                            <li class="flex-wr-sb-s p-b-22">
                                <div class="size-a-8 flex-c-c borad-3 size-a-8 bg9 f1-m-4 cl0 m-b-6">
                                    3
                                </div>

                                <a href="#" class="size-w-3 f1-s-7 cl3 hov-cl10 trans-03">
                                    Título da publicação
                                </a>
                            </li>

                            <li class="flex-wr-sb-s p-b-22">
                                <div class="size-a-8 flex-c-c borad-3 size-a-8 bg9 f1-m-4 cl0 m-b-6">
                                    4
                                </div>

                                <a href="#" class="size-w-3 f1-s-7 cl3 hov-cl10 trans-03">
                                    Título da publicação
                                </a>
                            </li>

                            <li class="flex-wr-sb-s p-b-22">
                                <div class="size-a-8 flex-c-c borad-3 size-a-8 bg9 f1-m-4 cl0">
                                    5
                                </div>

                                <a href="#" class="size-w-3 f1-s-7 cl3 hov-cl10 trans-03">
                                    Título da publicação
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="flex-c-s p-t-8">
                        <a href="#">
                            <img class="max-w-full" src="{{ STATIC_URL }}syndicates/images/banner-02.jpg" alt="IMG">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="confirmModalToggle" aria-hidden="true" aria-labelledby="confirmModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="confirmModalToggleLabel">PUBLICAÇÃO EXCLUÍDA!</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">FECHAR</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
$(function(){
    $('.form-delete-article').on('submit', function(e){
        e.preventDefault()
        let $form = $(this)
        $.ajax({
            url: $form.prop('action'),
            method: 'POST',
            data: $form.serialize(),
            success: function() {
                $("#confirmModalToggle").modal('show')
                $form.closest('.article-box').remove()
            }
        })
    })
})
</script>
{% endblock %}
