<div id="busca" class="container-xxl py-5">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-2 col-sm-4 wow fadeInUp" data-wow-delay="0.1s">
                <a class="cat-item d-block bg-light text-center rounded p-3" data-bs-toggle="collapse" href="#collapsePropriedades" aria-expanded="false" aria-controls="collapsePropriedades">
                    <div class="rounded p-2">
                        <div class="icon mb-3">
                            <img class="img-fluid" src="{{ STATIC_URL }}anuncios/img/mapa.png" alt="Icon">
                        </div>
                        <h6>Localizar Propriedade</h6>
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-sm-4 wow fadeInUp" data-wow-delay="0.2s">
                <a class="cat-item d-block bg-light text-center rounded p-3" data-bs-toggle="collapse" href="#collapseReserva" aria-expanded="false" aria-controls="collapseReserva">
                    <div class="rounded p-2">
                        <div class="icon mb-3">
                            <img class="img-fluid" src="{{ STATIC_URL }}anuncios/img/previsao.png" alt="Icon">
                        </div>
                        <h6>Previsão do Tempo</h6>
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-sm-4 wow fadeInUp" data-wow-delay="0.3s">
                <a class="cat-item d-block bg-light text-center rounded p-3" data-bs-toggle="collapse" href="#collapseProdutos" aria-expanded="false" aria-controls="collapseProdutos">
                    <div class="rounded p-2">
                        <div class="icon mb-3">
                            <img class="img-fluid" src="{{ STATIC_URL }}anuncios/img/propriedades.png" alt="Icon">
                        </div>
                        <h6>Meus Imóveis Cadastrados</h6>
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-sm-4 wow fadeInUp" data-wow-delay="0.4s">
                <a class="cat-item d-block bg-light text-center rounded p-3" data-bs-toggle="collapse" href="#collapseEquipamentos" aria-expanded="false" aria-controls="collapseEquipamentos">
                    <div class="rounded p-2">
                        <div class="icon mb-3">
                            <img class="img-fluid" src="{{ STATIC_URL }}anuncios/img/geada.png" alt="Icon">
                        </div>
                        <h6>Risco de Geada</h6>
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-sm-4 wow fadeInUp" data-wow-delay="0.5s">
                <a class="cat-item d-block bg-light text-center rounded p-3" data-bs-toggle="collapse" href="#collapseServicos" aria-expanded="false" aria-controls="collapseServicos">
                    <div class="rounded p-2">
                        <div class="icon mb-3">
                            <img class="img-fluid" src="{{ STATIC_URL }}anuncios/img/fogo.png" alt="Icon">
                        </div>
                        <h6>Risco de Incêncio</h6>
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-sm-4 wow fadeInUp" data-wow-delay="0.6s">
                <a class="cat-item d-block bg-light text-center rounded p-3" data-bs-toggle="collapse" href="#collapseDiversos" aria-expanded="false" aria-controls="collapseDiversos">
                    <div class="rounded p-2">
                        <div class="icon mb-3">
                            <img class="img-fluid" src="{{ STATIC_URL }}anuncios/img/tempestade.png" alt="Icon">
                        </div>
                        <h6>Risco de Tempestade</h6>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-12 wow fadeIn" data-wow-delay="0.1s">
                <div class="about-img position-relative overflow-hidden p-5 pe-0">
                    <img class="img-fluid w-100" src="{{ STATIC_URL }}anuncios/img/mapa1.png">
                </div>
            </div>
        </div>
    </div>
</div>