<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>GeoFazendas | Artigos</title>
  <link rel="shortcut icon" href="{{ STATIC_URL }}img/logo/favicon.ico" type="image/x-icon">

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap" rel="stylesheet">

  <!-- Css Styles -->
  <link rel="stylesheet" href="{{ STATIC_URL }}artigos/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="{{ STATIC_URL }}artigos/css/style.css" type="text/css">
  <link rel="stylesheet" href="{{ STATIC_URL }}artigos/css/fontawesome.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}artigos/css/templatemo-stand-blog.css">
</head>

<body>
    <!-- Preloader Starts Here -->
    <div id="preloader">
      <div class="jumper"></div>
    </div>
    <!-- Preloader Ends Here -->

    <!-- Header Starts Here -->
    <header id="header" class="fixed-top  header-transparent">
        <div class="container d-flex align-items-center justify-content-between">
            <div class="logo">
                <a href="{% url 'base:index' %}"><img src="{{ STATIC_URL }}artigos/img/logo/logo.png" alt="Logo GeoFazendas" class="img-fluid"></a>
            </div>
            <nav id="navbar" class="navbar" class="navbar-collapse collapse">
                <ul>
                  <li><a class="nav-link scrollto" href="{% url 'base:index' %}">INÍCIO</a></li>
                  <li><a class="nav-link scrollto" href="{% url 'base:index' %}#busca">ANÚNCIOS</a></li>
                  <li><a class="nav-link scrollto" href="{% url 'artigos:artigo_list' %}">ARTIGOS</a></li>
                  <li><a class="nav-link scrollto" href="{% url 'artigos:noticias_list' %}">NOTÍCIAS</a></li>
                  <li><a class="nav-link scrollto" href="{% url 'artigos:cursos_list' %}">CURSOS</a></li>
                  <li><a class="nav-link scrollto" href="" target="_blank">APP</a></li>
                  <li><a class="getstarted scrollto" href="">ACESSAR</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
        </div>
    </header>
    <!-- Header Ends Here -->
    {% block main %}
    <!-- Banner Starts Here -->
    <section class="page-heading">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <div class="text-content">
                      <h2>{{ view.tipo_artigo|upper }}</h2>
                  </div>
              </div>
          </div>
      </div>
    </section>
    <!-- Banner Ends Here -->
    <!-- Call to Action Starts Here -->
    <section class="call-to-action">
    <a href="" target="_parent"><img src="{{ STATIC_URL }}artigos/img/0.jpg" alt=""></a>
    </section>
    <!-- Call to Action Ends Here -->
    {% endblock %}

    <!-- Footer Starts Here -->
    <footer id="footer" class="bottom footer-section">
      <div class="container">
          <div class="row">
              <div class="col-lg-4 col-md-6">
                  <div class="fs-about">
                      <div class="fs-logo">
                          <a href="#"><img src="{{ STATIC_URL }}img/logo/logo-p.png" alt=""></a>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-sm-6">
                  <div class="fs-widget">
                      <ul>
                          <li><a href="#">Política de Prvacidade</a></li>
                          <li><a href="#">Contate o Suporte</a></li>
                          <li><a href="#">Perguntas Frequentes</a></li>
                      </ul>
                  </div>
              </div>
              <div class="col-lg-4 col-sm-6">
                  <div class="fs-widget">
                      <ul>
                          <li><a href="#">Cadastrar Propriedade</a></li>
                          <li><a href="#">Minhas Propriedades</a></li>
                          <li><a href="#">Minha Conta</a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="copyright-text">
              &copy; Copyright {% now 'Y' %}
              &ensp;Todos os direitos reservados.</br> GeoFazendas é um produto da <a href="https://www.multisig.com.br/" target="_blank"><b> Multisig</b></a>
          </div>
      </div>
    </footer>
    <!-- Footer Ends Here -->

    <!-- Bootstrap core JavaScript -->
    <script src="{{ STATIC_URL }}artigos/js/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}artigos/js/bootstrap.bundle.min.js"></script>
    <script src="{{ STATIC_URL }}artigos/js/custom.js"></script>
    <script src="{{ STATIC_URL }}artigos/js/owl.js"></script>
    <script src="{{ STATIC_URL }}artigos/js/slick.js"></script>
    <script src="{{ STATIC_URL }}artigos/js/isotope.js"></script>
    <script src="{{ STATIC_URL }}artigos/js/accordions.js"></script>
  </body>
</html>