{% extends "base.html" %}

{% block extra_css %}
<link href="{{ STATIC_URL }}vendor/css/templatemo-stand-blog.css" rel="stylesheet">
{% endblock %}

{% block container %}
{% include "includes/nav.html" %}

<!-- Header Start -->
<div class="container-fluid header bg-white p-0">
    <div class="row g-0 align-items-center flex-column-reverse flex-md-row">
        <img id="header" class="img-fluid" src="{{ STATIC_URL }}vendor/img/abas/carousel-2.png" alt="">
    </div>
</div>
{% block main %}
{% endblock %}
<!-- Header End -->
{% endblock %}