#map-container {
    padding-top: 90px;
}


#map {
    min-height: calc(100vh - 100px);
    width: 100%;
    border: 5px solid #89A328;
    border-radius: 10px;
}

.accordion-body {
    padding: 0 !important;
}

.list-group-item.active {
    background-color: #dfdfdf !important;
    border-color: #4b5515 !important;
}

.ms-2 {
    margin-left: 0 !important;
    margin-top: 0.5rem;
}

a.mapa-link {
    color: black;
}


.popup-title {
    font-weight: bold;
}


.accordion-button:focus {
    z-index: 3;
    border-color: #8bc34a;
    outline: 0;
    box-shadow: var(--bs-accordion-btn-focus-box-shadow);
}

.accordion-button:not(.collapsed) {
    color: #000;
    background-color: #8aa229;
    box-shadow: inset 0 calc(var(--bs-accordion-border-width) * -1) 0 var(--bs-accordion-border-color);
}