#map-container {
    padding-top: 90px;
}

#map {
    min-height: calc(100vh - 100px);
    width: 100%;
    border: 5px solid #89A328;
    border-radius: 10px;
}


.list-group-item.active {
    background-color: #89A328 !important;
    border-color: #4b5515 !important;
}


a.mapa-link  {
    color: black;
}